<div>
  <h1 i18n>Wallets</h1>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Type</th>
      <td mat-cell *matCellDef="let element">{{element.type}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Description</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Balance</th>
      <td mat-cell *matCellDef="let element">{{element.balance}}</td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Currency</th>
      <td mat-cell *matCellDef="let element">
        {{element.currency | codetosymbol}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns;"
      (click)="edit(row)"
    ></tr>
  </table>

  <mat-paginator
    #paginatorElement
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons
  >
  </mat-paginator>

  <span class="create-action">
    <button
      (click)="create()"
      id="btnCreate"
      mat-fab
      name="btnCreate"
      type="submit"
      svgIcon="add"
    >
      <mat-icon>add</mat-icon>
    </button>
  </span>
</div>
