<div (window:resize)="onScreenSizeChange()">
  <h1>
    {{ 'WALLETS' | translate }}
  </h1>
  <mat-grid-list cols="{{columns}}" rowHeight="700px" gutterSize="10px">
    <mat-grid-tile *ngFor="let wallet of wallets">
      <mat-card>
        <mat-card-content>
          <div *ngIf="!isEmpty(wallet)">
            <qr-code
              [value]="wallet.name"
              [size]="512"
              (click)="gotoWallet(wallet)"
            ></qr-code>
          </div>
          <table cellspacing="0">
            <tr>
              <td style="text-align: left;">
                <h3>{{ wallet.balance }}</h3>
              </td>
              <td style="text-align: right;">
                <h2 style="text-transform: uppercase;">
                  {{ wallet.currency | currencycodetosymbol }}
                </h2>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
