<div (window:resize)="onScreenSizeChange()">
  <!--header-->
  <h1>
    <div *ngIf="!showNoResults()">
      {{ 'IMAGES' | translate }}
    </div>
    <div *ngIf="showNoResults()">
      {{ 'IMAGES' | translate }} : {{ 'SEARCH_NO_RESULTS' | translate }}
    </div>
  </h1>
  <!--items-->
  <mat-grid-list cols="{{columns}}" rowHeight="750px">
    <mat-grid-tile *ngFor="let user of users">
      <mat-card width="512px" height="600px">
        <div *ngIf="isImageEmpty(user)">
          <img
            mat-card-image
            [src]="sanitizer.bypassSecurityTrustUrl(user.images[0].uri)"
            width="IMAGE_SIZE"
            height="IMAGE_SIZE"
            (click)="gotoUser(user.id)"
          />
        </div>
        <div *ngIf="!isImageEmpty(user)">
          <img
            mat-card-image
            src="/images/default.svg"
            width="IMAGE_SIZE"
            height="IMAGE_SIZE"
          />
        </div>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
