<!--QRCODE dialog-->
<div mat-dialog-container>
  <h1 mat-dialog-title i18n>Secret</h1>
  <div mat-dialog-content style="overflow: hidden !important;">
    <div *ngIf="hasQRCodeText()">
      <qr-code [value]="text" [size]="250"></qr-code>
    </div>
    <div *ngIf="!hasQRCodeText()">
      <img
        mat-card-image
        src="/images/ic_warning_black_24px.svg"
        style="max-width: 250px !important; max-height: 250px !important;"
      />
    </div>
  </div>
  <div mat-dialog-actions>
    <table width="100%" cellspacing="0">
      <tr>
        <td></td>
        <td>
          <button mat-raised-button (click)="dialogRef.close()" i18n>Close</button>
        </td>
      </tr>
    </table>
  </div>
</div>
