h1 {
  text-align: center;
}

input {
  text-transform: lowercase;
}

.mat-form-field {
  padding-left: 2vw;
  padding-right: 2vw;
  width: 96vw;
}

.mat-fab {
  position: fixed !important;
  right: 2vw;
  bottom: 0vh;
}

.mat-radio-group {
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 96vw;
}

#advertbox {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 96vw;
}

#btnEdit {
  margin-left: 2vw;
  margin-bottom: 2vw;
  float: right;
}

#imageboxes {
  display: flex;
  flex-flow: wrap;
}
