<div>
  <form [formGroup]="formGroup">

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>photo_camera</mat-icon>
        </ng-template>
        <imagebox formControlName="firstImage" name="firstImage" [resizeLength]="512"></imagebox>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>emoji_events</mat-icon>
        </ng-template>
        <imagebox formControlName="secondImage" name="secondImage" [resizeLength]="512"></imagebox>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>flip_camera_android</mat-icon>
        </ng-template>
        <imagebox formControlName="thirdImage" name="thirdImage" [resizeLength]="512"></imagebox>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>add_a_photo</mat-icon>
        </ng-template>
        <imagebox formControlName="fourthImage" name="fourthImage" [resizeLength]="512"></imagebox>
      </mat-tab>
    </mat-tab-group>

    <mat-radio-group id="optTangible" name="optTangible" (change)="onToggleProductOrService($event)">
      <mat-radio-button value="product" checked>{{ 'PRODUCT' | translate }}</mat-radio-button>
      &nbsp;
      <mat-radio-button value="service">{{ 'SERVICE' | translate }}</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <mat-label>{{ 'TITLE' | translate }}</mat-label>
      <input matInput type="text" formControlName="name" placeholder="{{ 'TITLE' | translate }}" />
      <mat-hint *ngIf="!formGroup.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'DESCRIPTION' | translate }}</mat-label>
      <input matInput type="text" formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}" />
      <mat-hint *ngIf="!formGroup.controls.description.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="asset.type==='product'">
      <mat-label>{{ 'MANUFACTURE_DATE' | translate }}</mat-label>
      <input matInput type="date" formControlName="manufactureDate" name="manufactureDate"
        placeholder="{{ 'MANUFACTURE_DATE' | translate }}" />
      <mat-hint *ngIf="!formGroup.controls.manufactureDate.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="asset.type==='product'">
      <mat-label>{{ 'HEIGHT' | translate }} ({{ '' | dimensionunit }})</mat-label>
      <input matInput type="number" formControlName="height"
        placeholder="{{ 'HEIGHT' | translate }} ({{ dimensionunit }})" />
      <mat-hint *ngIf="!formGroup.controls.height.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="asset.type==='product'">
      <mat-label>{{ 'LENGTH' | translate }} ({{ '' | dimensionunit }})</mat-label>
      <input matInput type="number" formControlName="length"
        placeholder="{{ 'LENGTH' | translate }} ({{ dimensionunit }})" />
      <mat-hint *ngIf="!formGroup.controls.length.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="asset.type==='product'">
      <mat-label>{{ 'WEIGHT' | translate }} ({{ '' | weightunit }})</mat-label>
      <input matInput type="number" formControlName="weight" placeholder="{{ 'WEIGHT' | translate }}" />
      <mat-hint *ngIf="!formGroup.controls.weight.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="asset.type==='product'">
      <mat-label>{{ 'WIDTH' | translate }} ({{ '' | dimensionunit }})</mat-label>
      <input matInput type="number" formControlName="width"
        placeholder="{{ 'WIDTH' | translate }} ({{ dimensionunit }})" />
      <mat-hint *ngIf="!formGroup.controls.width.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="asset.type==='product'">
      <mat-label>{{ 'QUANTITY' | translate }}</mat-label>
      <input matInput type="number" formControlName="quantity" placeholder="{{ 'QUANTITY' | translate }} " />
      <mat-hint *ngIf="!formGroup.controls.quantity.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'VALUE' | translate }}</mat-label>
      <input matInput type="number" formControlName="value" placeholder="{{ 'VALUE' | translate }}" />
      <mat-hint *ngIf="!formGroup.controls.quantity.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <currencybox formControlName="currency"> </currencybox>

    <tagbox formControlName="tags" [removable]="true" [selectable]="true"></tagbox>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'ADVERT' | translate }}
          </mat-panel-title>
          <mat-panel-description>
            {{ 'CREATE' | translate }}
            <mat-icon>verified</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <advertbox (updateAdvert)="handleAdvertUpdate($event)"></advertbox>
      </mat-expansion-panel>
    </mat-accordion>

    <!--  [disabled]="!formGroup.valid"-->
    <button (click)="save()" id="btnEdit" mat-fab name="btnEdit" svgIcon="add">
      <mat-icon>edit</mat-icon>
    </button>

  </form>
</div>