h1 {
  text-align: center;
}

input {
  text-transform: lowercase;
}

.mat-form-field {
  padding-left: 2vw;
  padding-right: 2vw;
  width: 96vw;
}

.mat-fab {
  position: fixed !important;
  right: 2vw;
  bottom: 2vh;
}

#btnCreate {
  padding-left: 2vw;
  padding-right: 2vw;
  float: right;
}
