<div *ngIf="!isEmpty()">
  <div *ngIf="getAverage() < 20">
    <mat-icon class="star">star_border</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
  </div>
  <div *ngIf="getAverage() >= 20 && getAverage() < 40">
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
  </div>
  <div *ngIf="getAverage() >= 40 && getAverage() < 60">
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
  </div>
  <div *ngIf="getAverage() >= 60 && getAverage() < 80">
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
  </div>
  <div *ngIf="getAverage() >= 80 && getAverage() < 100">
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
  </div>
  <div *ngIf="getAverage() == 100">
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
  </div>
</div>
<div *ngIf="isEmpty()">
  <mat-icon class="star">star</mat-icon>
  <mat-icon class="star">star</mat-icon>
  <mat-icon class="star">star</mat-icon>
  <mat-icon class="star">star</mat-icon>
  <mat-icon class="star">star</mat-icon>
</div>
