<!--Address-->
<div>
    <md-input-container class="app-address-with-button">
        <input mdInput id="addressAutoComplete" name="addressAutoComplete" type="text" placeholder="{{ 'ADDRESS' | translate }}"
            [value]="address" [(ngModel)]="location.address" (change)="onChange($event)" (blur)="onBlur($event)" disabled="{{ isGPSEnabled() }}"
            autocomplete="off" #addressElement />
        <md-hint *ngIf="required == true && location.address.length == 0 && !GPSEnabled" align="end">
            {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </md-hint>
    </md-input-container>
    <button *ngIf="positionButton==true" md-raised-button id="btnCurrentLocation" name="btnCurrentLocation" (click)="getPosition()"
        class="full-width">
        <md-icon *ngIf="GPSEnabled==true">gps_fixed</md-icon>
        <md-icon *ngIf="GPSEnabled==false">gps_not_fixed</md-icon>
    </button>
</div>