<!--Images-->
<md-card>
	<md-card-title>{{ 'IMAGES' | translate }}</md-card-title>
	<md-card-content>
		<!--Uploaded image 1-->
		<img *ngIf="asset.images && asset.images.length > 0" [(src)]="asset.images[0].uri" class="app-images" (click)="openImageDialog(0)" />
		<img *ngIf="!asset.images || asset.images.length == 0" src="/images/default.svg" class="app-images" (click)="openImageDialog(0)" />
		<!--Uploaded image 2-->
		<img *ngIf="asset.images && asset.images.length > 1" [src]="asset.images[1].uri" class="app-images" (click)="openImageDialog(1)" />
		<img *ngIf="!asset.images || asset.images.length <= 1" src="/images/default.svg" class="app-images" (click)="openImageDialog(1)" />
		<!--Uploaded image 3-->
		<img *ngIf="asset.images && asset.images.length > 2" [src]="asset.images[2].uri" class="app-images" (click)="openImageDialog(2)" />
		<img *ngIf="!asset.images || asset.images.length <= 2" src="/images/default.svg" class="app-images" (click)="openImageDialog(2)" />
		<!--Uploaded image 4-->
		<img *ngIf="asset.images && asset.images.length > 3" [src]="asset.images[3].uri" class="app-images" (click)="openImageDialog(3)" />
		<img *ngIf="!asset.images || asset.images.length <= 3" src="/images/default.svg" class="app-images" (click)="openImageDialog(3)" />

	</md-card-content>
</md-card>
<!--form-->
<md-card>
	<md-card-title>{{ 'PRODUCT' | translate }}</md-card-title>
	<md-card-content>
		<form [formGroup]="form" novalidate (submit)="update()">
			<!--Title-->
			<md-input-container>
				<input mdInput type="text" formControlName="title" placeholder="{{ 'TITLE' | translate }}" [(ngModel)]="asset.title" />
				<md-hint *ngIf="!form.controls.title.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-input-container>
			<!--Description-->
			<md-input-container>
				<input mdInput type="text" formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}" [(ngModel)]="asset.description"
				/>
				<md-hint *ngIf="!form.controls.description.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-input-container>
			<!--ManufactureDate-->
			<md-input-container>
				<input mdInput type="date" formControlName="manufactureDate" placeholder="{{ 'MANUFACTURE_DATE' | translate }}" [(ngModel)]="manufactureString"
				 (change)="handleManufactureDateUpdate($event)" />
				<md-hint *ngIf="!form.controls.manufactureDate.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-input-container>
			<!--Weight-->
			<md-input-container>
				<input mdInput type="number" formControlName="weight" placeholder="{{ 'WEIGHT' | translate }} ({{ getWeightUnit() }})" [(ngModel)]="asset.weight"
				/>
				<md-hint *ngIf="!form.controls.weight.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-input-container>
			<!--Width-->
			<md-input-container>
				<input mdInput type="number" formControlName="width" placeholder="{{ 'WIDTH' | translate }} ({{ getDimensionUnit() }})" [(ngModel)]="asset.width"
				/>
				<md-hint *ngIf="!form.controls.width.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-input-container>
			<!--Height-->
			<md-input-container>
				<input mdInput type="number" formControlName="height" placeholder="{{ 'HEIGHT' | translate }} ({{ getDimensionUnit() }})"
				 [(ngModel)]="asset.height" />
				<md-hint *ngIf="!form.controls.height.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-input-container>
			<!--Length-->
			<md-input-container>
				<input mdInput type="number" formControlName="length" placeholder="{{ 'LENGTH' | translate }} ({{ getDimensionUnit() }})"
				 [(ngModel)]="asset.length" />
				<md-hint *ngIf="!form.controls.length.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-input-container>
			<!--Quantity-->
			<md-input-container>
				<input mdInput type="number" formControlName="quantity" placeholder="{{ 'QUANTITY' | translate }}" [(ngModel)]="asset.quantity"
				/>
				<md-hint *ngIf="!form.controls.quantity.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-input-container>
			<!--value-->
			<md-input-container>
				<input mdInput type="number" formControlName="value" placeholder="{{ 'VALUE' | translate }}" [(ngModel)]="asset.value" />
			</md-input-container>
			<!--Currency-->
			<md-select value="eur" formControlName="currency" placeholder="{{ 'CURRENCY' | translate }}" [(ngModel)]="asset.currency" 
			 readonly>
				<md-option value="btc">฿</md-option>
				<md-option value="eur" selected>€</md-option>
				<md-option value="gbp">£</md-option>
				<md-option value="usd">$</md-option>
				<md-option value="zar">R</md-option>
			</md-select>
			<!--File formControlName="fileName" [ngModel]="asset?.file.name" (ngModelChange)="asset.file.name = $event"-->
			<md-input-container *ngIf="isFileVisible()">
				<input mdInput type="text" formControlName="fileName" (click)="fileInput.click()" placeholder="{{ 'FILE' | translate }}"
				/>
				<input hidden #fileInput type="file" id="zipFilePath" name="zipFilePath" accept='zip/*' (change)="fileChangeListener($event)"
				/>
			</md-input-container>
			<!--Tags-->
			<tag-control-component (tagUpdated)="handleTagUpdated($event)" [selectedTags]="asset.tags" [readOnly]=false></tag-control-component>
			<!--Available-->
			<div class="form">
				<md-slide-toggle formControlName="available" [(ngModel)]="asset.available"> </md-slide-toggle>
				<label for="available">{{ 'AVAILABLE' | translate }}</label>
			</div>
		</form>
	</md-card-content>
</md-card>
<!--Fees-->
<!--md-card>
	<md-card-subtitle>{{ 'FEES' | translate }} </md-card-subtitle>
	<md-card-content>
		<fee-control-component [(fees)]="asset.fees" [create]=true [update]=true [delete]=true [once]=true (feeCreateEvent)="handleFeeCreateEvent($event)"
		 (feeUpdateEvent)="handleFeeUpdateEvent($event)" (feeDeleteEvent)="handleFeeDeleteEvent($event)"></fee-control-component>
	</md-card-content>
</md-card-->

<md-card>
	<md-card-subtitle>{{ 'ADVERT' | translate }} </md-card-subtitle>
	<md-card-content>
		<advert-control-component (updateAdvert)="handleAdvertUpdate($event)"></advert-control-component>
	</md-card-content>
</md-card>