<h1>{{ 'DASHBOARD' | translate }}</h1>
<md-card>
    <div *ngIf="authUser && authUser.avatar">
        <img md-list-avatar [src]="sanitizer.bypassSecurityTrustUrl(authUser.avatar)" class="roundImage" />
        <h1>{{ authUser.alias }}</h1>
    </div>
    <div *ngIf="!authUser || !authUser.avatar">
        <img md-list-avatar src="/images/default.svg" class="roundImage" />
        <h1>{{ 'ALIAS' | translate }}</h1>
    </div>
    <md-nav-list>
        <md-list-item>  
            <md-slide-toggle (change)="toggleTrack($event)" [(ngModel)]="authUser.track">{{ 'TRACK' | translate }} </md-slide-toggle>           
        </md-list-item>      
    </md-nav-list>

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <button md-mini-fab type="button">
                    <md-icon>email</md-icon>
                </button> {{ messageUndeliveredCount }}
            </td>
            <td>
                <button md-mini-fab type="button">
                    <md-icon>sync</md-icon>
                </button> {{ messageUnsentCount }}
            </td>
        </tr>
    </table>
</md-card>
<div *ngIf="hasTransactions()">
    <md-card *ngIf="tokoWallet">
        <md-card-title>{{ 'BALANCE' | translate }} - {{ 'CREDIT' | translate }}</md-card-title>
        <md-card-content>
            <table width="100%" cellspacing="0">
                <tr>
                    <td>
                        <h6 style="text-transform: uppercase;"> {{ tokoWallet.value }} TOK </h6>
                    </td>
                </tr>
            </table>
        </md-card-content>
    </md-card>

    <md-card *ngIf="bitcoinWallet && bitcoin">
        <md-card-title>{{ 'BALANCE' | translate }} - {{ 'BITCOIN' | translate }}</md-card-title>
        <md-card-content>
            <table width="100%" cellspacing="0">
                <tr>
                    <td>
                        <h6 style="text-transform: uppercase;"> {{ bitcoin.amount }} {{ bitcoinWallet.currency }} </h6>
                    </td>
                </tr>
            </table>
        </md-card-content>
    </md-card>

    <md-card *ngIf="ethereumWallet && ethereum">
        <md-card-title>{{ 'BALANCE' | translate }} - {{ 'ETHEREUM' | translate }}</md-card-title>
        <md-card-content>
            <table width="100%" cellspacing="0">
                <tr>
                    <td>
                        <h6 style="text-transform: uppercase;"> {{ ethereum.balance }} {{ ethereumWallet.currency }} </h6>
                    </td>
                </tr>
            </table>
        </md-card-content>
    </md-card>
</div>