<table>
    <tr>
        <td>
            <table class="chess-board" (dragstart)="dragStart()" (dragend)="dragEnd()">
                <tbody>
                    <tr>
                        <!--left top corner style="width:720px;height:720px"-->
                        <td class="chess-square-neutral"> 1/14 </td>
                        <td class="chess-square-neutral"> 2/14 </td>
                        <td class="chess-square-neutral"> 3/14 </td>
                        <!---->
                        <td class="chess-square-light" (mouseover)="setPosition(4,14)">
                            4/14
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="14"></chess-piece-component>
                        </td>
                        <td (mouseover)="setPosition(5,14)">
                            5/14
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="14"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(6,14)">
                            6/14
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="14"></chess-piece-component>
                        </td>
                        <td (mouseover)="setPosition(7,14)">
                            7/14
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="14"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(8,14)">
                            8/14
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="14"></chess-piece-component>
                        </td>
                        <td (mouseover)="setPosition(9,14)">
                            9/14
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="14"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(10,14)">
                            10/14
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="14"></chess-piece-component>
                        </td>
                        <td (mouseover)="setPosition(11,14)">
                            11/14
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="14"></chess-piece-component>
                        </td>
                        <!--right top corner-->
                        <td class="chess-square-neutral"> 12/14 </td>
                        <td class="chess-square-neutral"> 13/14 </td>
                        <td class="chess-square-neutral"> 14/14 </td>
                        <!---->
                    </tr>
                    <tr>
                        <!--left top corner-->
                        <td class="chess-square-neutral"> 1/13 </td>
                        <td class="chess-square-neutral"> 2/13 </td>
                        <td class="chess-square-neutral"> 3/13 </td>
                        <!---->
                        <td (mouseover)="setPosition(4,13)">
                            4/13
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="13"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(5,13)">
                            5/13
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="13"></chess-piece-component>
                        </td>
                        <td (mouseover)="setPosition(6,13)">
                            6/13
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="13"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(7,13)">
                            7/13
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="13"></chess-piece-component>
                        </td>
                        <td (mouseover)="setPosition(8,13)">
                            8/13
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="13"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(9,13)">
                            9/13
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="13"></chess-piece-component>
                        </td>
                        <td (mouseover)="setPosition(10,13)">
                            10/13
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="13"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(11,13)">
                            11/13
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="13"></chess-piece-component>
                        </td>
                        <!--right top corner-->
                        <td class="chess-square-neutral"> 12/13 </td>
                        <td class="chess-square-neutral"> 13/13 </td>
                        <td class="chess-square-neutral"> 14/13 </td>
                        <!---->
                    </tr>
                    <tr>
                        <!--left top corner-->
                        <td class="chess-square-neutral"> 1/12 </td>
                        <td class="chess-square-neutral"> 2/12 </td>
                        <td class="chess-square-neutral"> 3/12 </td>
                        <!---->
                        <td class="chess-square-light" (mouseover)="setPosition(4,12)">
                            4/12
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="12"></chess-piece-component>
                        </td>
                        <td (mouseover)="setPosition(5,12)">
                            5/12
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="12"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(6,12)">
                            6/12
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="12"></chess-piece-component>
                        </td>
                        <td (mouseover)="setPosition(7,12)">
                            7/12
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="12"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(8,12)">
                            8/12
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="12"></chess-piece-component>
                        </td>
                        <td (mouseover)="setPosition(9,12)">
                            9/12
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="12"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(10,12)">
                            10/12
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="12"></chess-piece-component>
                        </td>
                        <td (mouseover)="setPosition(11,12)">
                            11/12
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="12"></chess-piece-component>
                        </td>
                        <!--right top corner-->
                        <td class="chess-square-neutral"> 12/12 </td>
                        <td class="chess-square-neutral"> 13/12 </td>
                        <td class="chess-square-neutral"> 14/12 </td>
                        <!---->
                    </tr>
                    <tr>
                        <td class="chess-square-light" (mouseover)="setPosition(1,11)">
                            1/11
                            <chess-piece-component [pieces]="game.pieces" [file]="1" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(2,11)">
                            2/11
                            <chess-piece-component [pieces]="game.pieces" [file]="2" [rank]="11"></chess-piece-component>
                        </td>

                        <td class="chess-square-light" (mouseover)="setPosition(3,11)">
                            3/11
                            <chess-piece-component [pieces]="game.pieces" [file]="3" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(4,11)">
                            4/11
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(5,11)">
                            5/11
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(6,11)">
                            6/11
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(7,11)">
                            7/11
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(8,11)">
                            8/11
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(9,11)">
                            9/11
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(10,11)">
                            10/11
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(11,11)">
                            11/11
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(12,11)">
                            12/11
                            <chess-piece-component [pieces]="game.pieces" [file]="12" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(13,11)">
                            13/11
                            <chess-piece-component [pieces]="game.pieces" [file]="13" [rank]="11"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(14,11)">
                            14/11
                            <chess-piece-component [pieces]="game.pieces" [file]="14" [rank]="11"></chess-piece-component>
                        </td>
                    </tr>
                    <tr>
                        <td class="chess-square-dark" (mouseover)="setPosition(1,10)">
                            1/10
                            <chess-piece-component [pieces]="game.pieces" [file]="1" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(2,10)">
                            2/10
                            <chess-piece-component [pieces]="game.pieces" [file]="2" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(3,10)">
                            3/10
                            <chess-piece-component [pieces]="game.pieces" [file]="3" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(4,10)">
                            4/10
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(5,10)">
                            5/10
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(6,10)">
                            6/10
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(7,10)">
                            7/10
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(8,10)">
                            8/10
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(9,10)">
                            9/10
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(10,10)">
                            10/10
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(11,10)">
                            11/10
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(12,10)">
                            12/10
                            <chess-piece-component [pieces]="game.pieces" [file]="12" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(13,10)">
                            13/10
                            <chess-piece-component [pieces]="game.pieces" [file]="13" [rank]="10"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(14,10)">
                            14/10
                            <chess-piece-component [pieces]="game.pieces" [file]="14" [rank]="10"></chess-piece-component>
                        </td>
                    </tr>
                    <tr>
                        <td class="chess-square-light" (mouseover)="setPosition(1,9)">
                            1/9
                            <chess-piece-component [pieces]="game.pieces" [file]="1" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(2,9)">
                            2/9
                            <chess-piece-component [pieces]="game.pieces" [file]="2" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(3,9)">
                            3/9
                            <chess-piece-component [pieces]="game.pieces" [file]="3" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(4,9)">
                            4/9
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(5,9)">
                            5/9
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(6,9)">
                            6/9
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(7,9)">
                            7/9
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(8,9)">
                            8/9
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(9,9)">
                            9/9
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(10,9)">
                            10/9
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(11,9)">
                            11/9
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(12,9)">
                            12/9
                            <chess-piece-component [pieces]="game.pieces" [file]="12" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(13,9)">
                            13/9
                            <chess-piece-component [pieces]="game.pieces" [file]="13" [rank]="9"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(14,9)">
                            14/9
                            <chess-piece-component [pieces]="game.pieces" [file]="14" [rank]="9"></chess-piece-component>
                        </td>
                    </tr>
                    <tr>
                        <td class="chess-square-dark" (mouseover)="setPosition(1,8)">
                            1/8
                            <chess-piece-component [pieces]="game.pieces" [file]="1" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(2,8)">
                            2/8
                            <chess-piece-component [pieces]="game.pieces" [file]="2" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(3,8)">
                            3/8
                            <chess-piece-component [pieces]="game.pieces" [file]="3" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(4,8)">
                            4/8
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(5,8)">
                            5/8
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(6,8)">
                            6/8
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(7,8)">
                            7/8
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(8,8)">
                            8/8
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(9,8)">
                            9/8
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(10,8)">
                            10/8
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(11,8)">
                            11/8
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(12,8)">
                            12/8
                            <chess-piece-component [pieces]="game.pieces" [file]="12" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(13,8)">
                            13/8
                            <chess-piece-component [pieces]="game.pieces" [file]="13" [rank]="8"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(14,8)">
                            14/8
                            <chess-piece-component [pieces]="game.pieces" [file]="14" [rank]="8"></chess-piece-component>
                        </td>
                    </tr>
                    <tr>
                        <td class="chess-square-light" (mouseover)="setPosition(1,7)">
                            1/7
                            <chess-piece-component [pieces]="game.pieces" [file]="1" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(2,7)">
                            2/7
                            <chess-piece-component [pieces]="game.pieces" [file]="2" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(3,7)">
                            3/7
                            <chess-piece-component [pieces]="game.pieces" [file]="3" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(4,7)">
                            4/7
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(5,7)">
                            5/7
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(6,7)">
                            6/7
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(7,7)">
                            7/7
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(8,7)">
                            8/7
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(9,7)">
                            9/7
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(10,7)">
                            10/7
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(11,7)">
                            11/7
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(12,7)">
                            12/7
                            <chess-piece-component [pieces]="game.pieces" [file]="12" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(13,7)">
                            13/7
                            <chess-piece-component [pieces]="game.pieces" [file]="13" [rank]="7"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(14,7)">
                            14/7
                            <chess-piece-component [pieces]="game.pieces" [file]="14" [rank]="7"></chess-piece-component>
                        </td>
                    </tr>
                    <tr>
                        <td class="chess-square-dark" (mouseover)="setPosition(1,6)">
                            1/6
                            <chess-piece-component [pieces]="game.pieces" [file]="1" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(2,6)">
                            2/6
                            <chess-piece-component [pieces]="game.pieces" [file]="2" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(3,6)">
                            3/6
                            <chess-piece-component [pieces]="game.pieces" [file]="3" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(4,6)">
                            4/6
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(5,6)">
                            5/6
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(6,6)">
                            6/6
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(7,6)">
                            7/6
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(8,6)">
                            8/6
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(9,6)">
                            9/6
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(10,6)">
                            10/6
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(11,6)">
                            11/6
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(12,6)">
                            12/6
                            <chess-piece-component [pieces]="game.pieces" [file]="12" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(13,6)">
                            13/6
                            <chess-piece-component [pieces]="game.pieces" [file]="13" [rank]="6"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(14,6)">
                            14/6
                            <chess-piece-component [pieces]="game.pieces" [file]="14" [rank]="6"></chess-piece-component>
                        </td>
                    </tr>
                    <tr>
                        <td class="chess-square-light" (mouseover)="setPosition(1,5)">
                            1/5
                            <chess-piece-component [pieces]="game.pieces" [file]="1" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(2,5)">
                            2/5
                            <chess-piece-component [pieces]="game.pieces" [file]="2" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(3,5)">
                            3/5
                            <chess-piece-component [pieces]="game.pieces" [file]="3" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(4,5)">
                            4/5
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(5,5)">
                            5/5
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(6,5)">
                            6/5
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(7,5)">
                            7/5
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(8,5)">
                            8/5
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(9,5)">
                            9/5
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(10,5)">
                            10/5
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(11,5)">
                            11/5
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(12,5)">
                            12/5
                            <chess-piece-component [pieces]="game.pieces" [file]="12" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(13,5)">
                            13/5
                            <chess-piece-component [pieces]="game.pieces" [file]="13" [rank]="5"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(14,5)">
                            14/5
                            <chess-piece-component [pieces]="game.pieces" [file]="14" [rank]="5"></chess-piece-component>
                        </td>
                    </tr>
                    <tr>
                        <td class="chess-square-dark" (mouseover)="setPosition(1,4)">
                            1/4
                            <chess-piece-component [pieces]="game.pieces" [file]="1" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(2,4)">
                            2/4
                            <chess-piece-component [pieces]="game.pieces" [file]="2" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(3,4)">
                            3/4
                            <chess-piece-component [pieces]="game.pieces" [file]="3" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(4,4)">
                            4/4
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(5,4)">
                            5/4
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(6,4)">
                            6/4
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(7,4)">
                            7/4
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(8,4)">
                            8/4
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(9,4)">
                            9/4
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(10,4)">
                            10/4
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(11,4)">
                            11/4
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(12,4)">
                            12/4
                            <chess-piece-component [pieces]="game.pieces" [file]="12" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(13,4)">
                            13/4
                            <chess-piece-component [pieces]="game.pieces" [file]="13" [rank]="4"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(14,4)">
                            14/4
                            <chess-piece-component [pieces]="game.pieces" [file]="14" [rank]="4"></chess-piece-component>
                        </td>
                    </tr>
                    <tr>
                        <!--left bottom corner-->
                        <td class="chess-square-neutral"> 1/3 </td>
                        <td class="chess-square-neutral"> 2/3 </td>
                        <td class="chess-square-neutral"> 3/3 </td>
                        <!---->
                        <td class="chess-square-dark" (mouseover)="setPosition(4,3)">
                            4/3
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="3"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(5,3)">
                            5/3
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="3"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(6,3)">
                            6/3
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="3"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(7,3)">
                            7/3
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="3"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(8,3)">
                            8/3
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="3"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(9,3)">
                            9/3
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="3"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(10,3)">
                            10/3
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="3"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(11,3)">
                            11/3
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="3"></chess-piece-component>
                        </td>
                        <!--right bottom corner-->
                        <td class="chess-square-neutral"> 12/3 </td>
                        <td class="chess-square-neutral"> 13/3 </td>
                        <td class="chess-square-neutral"> 14/3 </td>
                        <!---->
                    </tr>
                    <tr>
                        <!--left bottom corner-->
                        <td class="chess-square-neutral"> 1/2 </td>
                        <td class="chess-square-neutral"> 2/2 </td>
                        <td class="chess-square-neutral"> 3/2 </td>
                        <!---->
                        <td class="chess-square-light" (mouseover)="setPosition(4,2)">
                            4/2
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="2"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(5,2)">
                            5/2
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="2"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(6,2)">
                            6/2
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="2"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(7,2)">
                            7/2
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="2"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(8,2)">
                            8/2
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="2"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(9,2)">
                            9/2
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="2"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(10,2)">
                            10/2
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="2"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(11,2)">
                            11/2
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="2"></chess-piece-component>
                        </td>
                        <!--right bottom corner-->
                        <td class="chess-square-neutral"> 12/2 </td>
                        <td class="chess-square-neutral"> 13/2 </td>
                        <td class="chess-square-neutral"> 14/2 </td>
                        <!---->
                    </tr>
                    <tr>
                        <!--left bottom corner-->
                        <td class="chess-square-neutral"> 1/1 </td>
                        <td class="chess-square-neutral"> 2/1 </td>
                        <td class="chess-square-neutral"> 3/1 </td>
                        <!---->
                        <td class="chess-square-dark" (mouseover)="setPosition(4,1)">
                            4/1
                            <chess-piece-component [pieces]="game.pieces" [file]="4" [rank]="1"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(5,1)">
                            5/1
                            <chess-piece-component [pieces]="game.pieces" [file]="5" [rank]="1"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(6,1)">
                            6/1
                            <chess-piece-component [pieces]="game.pieces" [file]="6" [rank]="1"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(7,1)">
                            7/1
                            <chess-piece-component [pieces]="game.pieces" [file]="7" [rank]="1"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(8,1)">
                            8/1
                            <chess-piece-component [pieces]="game.pieces" [file]="8" [rank]="1"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(9,1)">
                            9/1
                            <chess-piece-component [pieces]="game.pieces" [file]="9" [rank]="1"></chess-piece-component>
                        </td>
                        <td class="chess-square-dark" (mouseover)="setPosition(10,1)">
                            10/1
                            <chess-piece-component [pieces]="game.pieces" [file]="10" [rank]="1"></chess-piece-component>
                        </td>
                        <td class="chess-square-light" (mouseover)="setPosition(11,1)">
                            11/1
                            <chess-piece-component [pieces]="game.pieces" [file]="11" [rank]="1"></chess-piece-component>
                        </td>
                        <!--right bottom corner-->
                        <td class="chess-square-neutral"> 12/1 </td>
                        <td class="chess-square-neutral"> 13/1 </td>
                        <td class="chess-square-neutral"> 14/1 </td>
                        <!---->
                    </tr>
                </tbody>
            </table>

        </td>
        <td>
            <table cellspacing="0">
                <!--Blue-->
                <tr>
                    <td>
                        <font style="color:#006DF0;">
                            <h1> {{ 'BLUE' | translate }} </h1>
                        </font>

                    </td>
                    <td>
                        <div *ngIf="game && game.users[0]">
                            <h1>{{ game.users[0].alias }}</h1>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <font style="color:#006DF0;">
                            <h6 *ngIf="game && game.users[0]" style="text-transform: uppercase; margin-left: 2vw;"> {{ game.users[0].score }} </h6>
                        </font>
                    </td>
                    <td>
                        <div *ngIf="game && game.users[0]">
                            <user-control-component [user]="game.users[0]" [horizontal]="false" [textVisible]="false" [imageRound]="true"> </user-control-component>
                        </div>
                        <div *ngIf="game && game.users.length < 1" alien="centre">
                            <md-progress-spinner mode="indeterminate" color="accent" style="margin:0 auto;"></md-progress-spinner>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="game && game.token == 'Blue'">
                            <div *ngIf="game && game.users.length > 1">
                                <h6 style="text-transform: uppercase; margin-left: 2vw;">{{ game.counter }} </h6>
                            </div>
                            <div *ngIf="game && game.users.length == 1">
                                <h6 style="text-transform: uppercase; margin-left: 2vw;">00</h6>
                            </div>
                        </div>
                        <div *ngIf="game && game.token != 'Blue'">
                            <h6 style="text-transform: uppercase; margin-left: 2vw;color: transparent;">00</h6>
                        </div>
                    </td>
                </tr>
                <!--Green-->
                <tr>
                    <td>
                        <font style="color:#91DC5A;">
                            <h1>{{ 'GREEN' | translate }}</h1>
                        </font>
                    </td>
                    <td>
                        <div *ngIf="game && game.users[1]" alien="centre">
                            <h1>{{ game.users[1].alias }}</h1>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <font style="color:#91DC5A;">
                            <h6 *ngIf="game && game.users[1]" style="text-transform: uppercase; margin-left: 2vw;"> {{ game.users[1].score }} </h6>
                        </font>
                    </td>
                    <td>
                        <div *ngIf="game && game.users[1]" alien="centre">
                            <user-control-component [user]="game.users[1]" [horizontal]="false" [textVisible]="false" [imageRound]="true"> </user-control-component>
                        </div>
                        <div *ngIf="game && game.users.length < 2" alien="centre">
                            <md-progress-spinner mode="indeterminate" color="accent" style="margin:0 auto;"></md-progress-spinner>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="game && game.token == 'Green'">
                            <div *ngIf="game && game.users.length >= 2">
                                <h6 style="text-transform: uppercase; margin-left: 2vw;">{{ game.counter }} </h6>
                            </div>
                            <!--div *ngIf="game && game.users.length == 1">
                                <h6 style="text-transform: uppercase; margin-left: 2vw;">00</h6>
                            </div-->
                        </div>
                        <div *ngIf="game && game.token != 'Green'">
                            <h6 style="text-transform: uppercase; margin-left: 2vw;color: transparent;">00</h6>
                        </div>
                    </td>
                </tr>
                <!--Red-->
                <tr>
                    <td>
                        <font style="color:#D80027;">
                            <h1>{{ 'RED' | translate }}</h1>
                        </font>
                    </td>
                    <td>
                        <div *ngIf="game && game.users[2]" alien="centre">
                            <h1>{{ game.users[2].alias }}</h1>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <font style="color:#D80027;">
                            <h6 *ngIf="game && game.users[2]" style="text-transform: uppercase; margin-left: 2vw;"> {{ game.users[2].score }} </h6>
                        </font>
                    </td>
                    <td>
                        <div *ngIf="game && game.users[2]" alien="centre">
                            <user-control-component [user]="game.users[2]" [horizontal]="false" [textVisible]="false" [imageRound]="true"> </user-control-component>
                        </div>
                        <div *ngIf="game.users.length < 3" alien="centre">
                            <md-progress-spinner mode="indeterminate" color="accent" style="display: flex; justify-content: center; align-items: center;"></md-progress-spinner>
                        </div>
                    </td>
                    <td>
                        <!--div *ngIf="isRedMove()">
                            <h6 style="text-transform: uppercase; margin-left: 2vw;">{{ game.counter }} </h6>
                        </div>
                        <div *ngIf="!isRedMove()">
                            <h6 style="text-transform: uppercase; margin-left: 2vw;color: transparent;">00</h6>
                        </div-->
                    </td>
                </tr>
                <!--Yellow-->
                <tr>
                    <td>
                        <font style="color:#FFDA44;">
                            <h1>{{ 'YELLOW' | translate }}</h1>
                        </font>
                    </td>

                    <td>
                        <div *ngIf="game && game.users[3]" alien="centre">
                            <h1>{{ game.users[3].alias }}</h1>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <font style="color:#FFDA44;">
                            <h6 *ngIf="game && game.users[3]" style="text-transform: uppercase; margin-left: 2vw;"> {{ game.users[3].score }} </h6>
                        </font>
                    </td>
                    <td>
                        <div *ngIf="game && game.users[3]" alien="centre">
                            <user-control-component [user]="game.users[3]" [horizontal]="false" [textVisible]="false" [imageRound]="true"> </user-control-component>
                        </div>
                        <div *ngIf="game.users.length < 4" alien="centre">
                            <md-progress-spinner mode="indeterminate" color="accent" style="display: flex; justify-content: center; align-items: center;"></md-progress-spinner>
                        </div>
                    </td>
                    <td>
                        <!--div *ngIf="isYellowMove()">
                            <h6 style="text-transform: uppercase; margin-left: 2vw;">{{ game.counter }} </h6>
                        </div>
                        <div *ngIf="!isYellowMove()">
                            <h6 style="text-transform: uppercase; margin-left: 2vw;color: transparent;">00</h6>
                        </div-->
                    </td>
                </tr>
                <tr>
                    <td colspan="4">                       
                        <button md-raised-button class="full-width-button" (click)="print()">
                            <md-icon>alarm</md-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>