<div (window:resize)="onScreenSizeChange()">
	<!--header-->
	<h1>
		<div *ngIf="!showNoResults()">
			{{ 'IMAGES' | translate }}
		</div>
		<div *ngIf="showNoResults()">
			{{ 'IMAGES' | translate }} : {{ 'SEARCH_NO_RESULTS' | translate }}
		</div>
	</h1>
	<!--items-->
	<md-grid-list cols="{{columns}}" rowHeight="750px">
		<md-grid-tile *ngFor="let user of users">
			<md-card width="512px" height="600px">
				<div *ngIf="isImageEmpty(user)">
					<img md-card-image [src]="sanitizer.bypassSecurityTrustUrl(user.images[0].uri)" width="IMAGE_SIZE" height="IMAGE_SIZE" (click)="gotoUser(user.id)"
					/>
				</div>
				<div *ngIf="!isImageEmpty(user)">
					<img md-card-image src="/images/default.svg" width="IMAGE_SIZE" height="IMAGE_SIZE" />
				</div>
				<md-card-content> </md-card-content>
			</md-card>
		</md-grid-tile>
	</md-grid-list>
</div>