<h1>{{ 'LEGAL_TERMS_AND_CONDITIONS' | translate }}</h1>
<!--div [innerHTML]="message" ></div-->
<h2>{{ 'LEGAL_TERMS_AND_CONDITIONS_HEADER' | translate }}</h2>
<p>{{ 'LEGAL_TERMS_AND_CONDITIONS_BODY' | translate }}</p>
<h3>{{ 'LEGAL_TERMS_AND_CONDITIONS_INTRODUCTION_HEADER' | translate }}</h3>
<p>{{ 'LEGAL_TERMS_AND_CONDITIONS_INTRODUCTION_BODY' | translate }}</p>
<h3>{{ 'LEGAL_DEFINITIONS' | translate }}</h3>
<p>{{ 'LEGAL_DEFINE_COMPANY' | translate }}</p>
<p>{{ 'LEGAL_DEFINE_CUSTOMER' | translate }}</p>
<p>{{ 'LEGAL_DEFINE_JOB' | translate }}</p>
<p>{{ 'LEGAL_DEFINE_USERS' | translate }}</p>
<p>{{ 'LEGAL_DEFINE_SERVICE' | translate }}</p>
<p>{{ 'LEGAL_DEFINE_TEMPORARY_WORKER' | translate }}</p>
<p>{{ 'LEGAL_DEFINE_WEBSITE' | translate }}</p>
<p>{{ 'LEGAL_DEFINE_EXPRESSING_INTEREST' | translate }}</p>
<p>{{ 'LEGAL_DEFINE_LEAD' | translate }}</p>
<p>{{ 'LEGAL_DEFINE_SHORTLIST' | translate }}</p>
<p>{{ 'LEGAL_DEFINE_PREPAYMENT' | translate }}</p>
<p>{{ 'LEGAL_DEFINE_SEVICE_AGREEMENT' | translate }}</p>
<h3>{{ 'LEGAL_GOVERNING_LAW_AND_JURISDICTION_HEADER' | translate }}</h3>
<p>{{ 'LEGAL_GOVERNING_LAW_AND_JURISDICTION_BODY' | translate }}</p>
<h3>{{ 'LEGAL_ACCURACY_OF_INFORMATION_HEADER' | translate }}</h3>
<p>{{ 'LEGAL_ACCURACY_OF_INFORMATION_BODY' | translate }}</p>
<h3>{{ 'LEGAL_TERMS_AND_CONDITIONS_CONTENT_HEADER' | translate }}</h3>
<p>{{ 'LEGAL_TERMS_AND_CONDITIONS_CONTENT_BODY' | translate }}</p>
<h3>{{ 'LEGAL_INTELLECTUAL_PROPERTY_HEADER' | translate }}</h3>
<p>{{ 'LEGAL_INTELLECTUAL_PROPERTY_BODY' | translate }}</p>
<h3>{{ 'LEGAL_ORGANISATIONS_AND_INDIVIDUALS_HEADER' | translate }}</h3>
<p>{{ 'LEGAL_ORGANISATIONS_AND_INDIVIDUALS_BODY' | translate }}</p>
<h1>{{ 'LEGAL_SHARING_AND_DISTRIBUTION_OF_INFORMATION_HEADER' | translate }}</h1>
<p>{{ 'LEGAL_SHARING_AND_DISTRIBUTION_OF_INFORMATION_BODY' | translate }}</p>
<h3>{{ 'LEGAL_PAYMENT_TERMS_HEADER' | translate }}</h3>
<h3>{{ 'LEGAL_PAYMENT_FEES_REFUNDS_HEADER' | translate }}</h3>
<p>{{ 'LEGAL_PAYMENT_FEES_REFUNDS_BODY' | translate }}</p>
<h3>{{ 'LEGAL_FAILED_AND_DISPUTED_PAYMENTS_HEADER' | translate }}</h3>
<p>{{ 'LEGAL_FAILED_AND_DISPUTED_PAYMENTS_BODY' | translate }}</p>
<h3>{{ 'LEGAL_TERMS_AND_CONDITIONS_LIMITATIONS_HEADER' | translate }}</h3>
<p>{{ 'LEGAL_TERMS_AND_CONDITIONS_LIMITATIONS_BODY' | translate }}</p>
<h3>{{ 'LEGAL_TERMINATION_OF_SERVICE_HEADER' | translate }}</h3>
<b>{{ 'LEGAL_TERMINATION_OF_SERVICE_TEXT' | translate }}</b>
<h3>{{ 'LEGAL_TERMS_AND_CONDITIONS_OF_CHANGES_HEADER' | translate }}</h3>
<p>{{ 'LEGAL_TERMS_AND_CONDITIONS_OF_CHANGES_BODY' | translate }}</p>