<h1>{{ 'LEGAL_PRIVACY_POLICY_AND_DATA_PROTECTION_TITLE' | translate }}</h1>

<p>{{ 'LEGAL_PRIVACY_POLICY_AND_DATA_PROTECTION_TEXT' | translate }}</p>

<h2>{{ 'LEGAL_WHAT_PERSONAL_DATA_WE_COLLECT_TITLE' | translate }}</h2>
<h3>{{ 'LEGAL_REGISTRATION_TITLE' | translate }}</h3>

<p>{{ 'LEGAL_REGISTRATION_TEXT' | translate }}</p>
<h3>{{ 'LEGAL_TEMPORARY_WORKER_TITLE' | translate }}</h3>

<p>{{ 'LEGAL_TEMPORARY_WORKER_TEXT' | translate }}</p>
<h3>{{ 'LEGAL_TECHNICAL_DATA_TITLE' | translate }}</h3>

<p>{{ 'LEGAL_TECHNICAL_DATA_TEXT' | translate }}</p>
<h3>{{ 'LEGAL_HOW_WE_USE_YOUR_INFORMATION_TITLE' | translate }}</h3>

<p>{{ 'LEGAL_HOW_WE_USE_YOUR_INFORMATION_TEXT' | translate }}</p>
<h3>{{ 'LEGAL_SHARING_OF_INFORMATION_TITLE' | translate }}</h3>

<p>{{ 'LEGAL_SHARING_OF_INFORMATION_TEXT' | translate }}</p>
<h3>{{ 'LEGAL_SECURITY_TITLE' | translate }}</h3>

<p>{{ 'LEGAL_SECURITY_TEXT' | translate }}</p>
<h3>{{ 'LEGAL_ACCESS_TO_YOUR_INFORMATION_TITLE' | translate }}</h3>

<p>{{ 'LEGAL_ACCESS_TO_YOUR_INFORMATION_TEXT' | translate }}</p>
<p>{{ 'LEGAL_PRIVACY_POLICY_AND_DATA_PROTECTION_SIGNATURE' | translate }}</p>