<!--QRCODE dialog-->
<div md-dialog-container>
    <h1 md-dialog-title>{{ 'SECRET' | translate }}</h1>
    <div md-dialog-content style="overflow: hidden !Important;">
        <div *ngIf="hasQRCodeText()">
            <qr-code [value]="text" [size]="250"></qr-code>
        </div>
        <div *ngIf="!hasQRCodeText()">
                <img md-card-image src="/images/ic_warning_black_24px.svg" style="max-width:250px!Important;max-height:250px!Important;"/>
        </div>
    </div>
    <div md-dialog-actions>
        <table width="100%" cellspacing="0">
            <tr>
                <td>
                </td>
                <td>
                    <button md-raised-button (click)="dialogRef.close()">{{ 'CLOSE' | translate }}</button>
                </td>
            </tr>
        </table>
    </div>
</div>