<h1>{{ 'REPORT' | translate }}</h1>
<md-card>
    <md-card-title>{{ 'USERS' | translate }}</md-card-title>
    <md-card-content>
        <table width="100%" cellspacing="0">
            <tr>
                <td>
                    <h1>{{ 'USERS' | translate }}</h1>
                    <h6 style="text-transform: uppercase; margin-left: 2vw;"> {{ userCount }} </h6>
                </td>
                <td>
                    <h1>{{ 'ASSETS' | translate }}</h1>
                    <h6 style="text-transform: uppercase; margin-left: 2vw;"> {{ assetCount }} </h6>
                </td>
                <td>
                    <h1>{{ 'MESSAGES' | translate }}</h1>
                    <h6 style="text-transform: uppercase; margin-left: 2vw;"> {{ messageCount }} </h6>
                </td>
                <td>
                    <h1>{{ 'TRANSACTIONS' | translate }}</h1>
                    <h6 style="text-transform: uppercase; margin-left: 2vw;"> {{ transactionCount }} </h6>
                </td>
            </tr>
            <tr >
                <td colspan="2">
                    <h1>{{ 'BITCOIN' | translate }}</h1>
                    <div *ngIf="bitcoinState">
                        <img src="/images/baseline-wifi-24px.svg" align="center" height="200vh" width="200vh" />
                    </div>
                    <div *ngIf="!bitcoinState">
                        <img src="/images/baseline-wifi_off-24px.svg"  align="center" height="200vh" width="200vh" />
                    </div>
                </td>
                <td colspan="2">
                    <h1>{{ 'ETHEREUM' | translate }}</h1>
                    <div *ngIf="ethereumState" >
                        <img src="/images/baseline-wifi-24px.svg" align="center" height="200vh" width="200vh" />
                    </div>
                    <div *ngIf="!ethereumState" >
                        <img src="/images/baseline-wifi_off-24px.svg" align="center" height="200vh" width="200vh"/>
                    </div>
                </td>

            </tr>
        </table>
    </md-card-content>
</md-card>