<div *ngIf="!isEmpty()">
    <div *ngIf="getAverage() < 20">
        <md-icon class="star">star_border</md-icon>
        <md-icon class="star">star_border</md-icon>
        <md-icon class="star">star_border</md-icon>
        <md-icon class="star">star_border</md-icon>
        <md-icon class="star">star_border</md-icon>
    </div>
    <div *ngIf="getAverage() >= 20 && getAverage() < 40">
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star_border</md-icon>
        <md-icon class="star">star_border</md-icon>
        <md-icon class="star">star_border</md-icon>
        <md-icon class="star">star_border</md-icon>
    </div>
    <div *ngIf="getAverage() >= 40 && getAverage() < 60">
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star_border</md-icon>
        <md-icon class="star">star_border</md-icon>
        <md-icon class="star">star_border</md-icon>
    </div>
    <div *ngIf="getAverage() >= 60 && getAverage() < 80">
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star_border</md-icon>
        <md-icon class="star">star_border</md-icon>
    </div>
    <div *ngIf="getAverage() >= 80 && getAverage() < 100">
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star_border</md-icon>
    </div>
    <div *ngIf="getAverage() == 100">
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star</md-icon>
        <md-icon class="star">star</md-icon>
    </div>
</div>
<div *ngIf="isEmpty()">
    <md-icon class="star">star</md-icon>
    <md-icon class="star">star</md-icon>
    <md-icon class="star">star</md-icon>
    <md-icon class="star">star</md-icon>
    <md-icon class="star">star</md-icon>
</div>