<div (window:resize)="onScreenSizeChange()">
    <!--header-->
    <h1>
        <div *ngIf="!showNoResults()">
            {{ 'TRANSACTIONS' | translate }}
        </div>
        <div *ngIf="showNoResults()">
            {{ 'TRANSACTIONS' | translate }}
            <p> {{ 'SEARCH_NO_RESULTS' | translate }} </p>
        </div>
    </h1>
    <!--items-->
    <md-grid-list cols="{{columns}}" rowHeight="400px" gutterSize="10px">
        <md-grid-tile *ngFor="let transaction of transactions">
            <md-card>
                <md-card-content>
                    <user-control-component [user]="transaction.buyer" [horizontal]="false"> </user-control-component>
                    <user-control-component [user]="transaction.seller" [horizontal]="false"> </user-control-component>
                    <p>{{ 'NAME' | translate }} : {{ transaction.name }}</p>
                    <p>{{ 'TOTAL' | translate }} :
                        <span *ngIf="isBuyer(transaction)" class="color-red">{{ -1*transaction.totalValue }} {{ getCurrencySymbol(transaction.currency) }}</span>
                        <span *ngIf="isSeller(transaction)" class="color-green">{{ transaction.totalValue }} {{ getCurrencySymbol(transaction.currency) }}</span>
                    </p>
                    <p>{{ 'STATE' | translate }} :
                        <span *ngIf="isQuote(transaction)" class="color-red">{{ 'QUOTE' | translate }} </span>
                        <span *ngIf="isInvoice(transaction)" class="color-orange">{{ 'INVOICE' | translate }} </span>
                        <span *ngIf="isReceipt(transaction)" class="color-green">{{ 'RECIEPT' | translate }} </span>
                    </p>
                    <p>{{ 'START' | translate }} : {{ getDateTimeString(transaction.startTimeStamp) }}</p>
                    <p *ngIf="isReceipt(transaction)">{{ 'END' | translate }} : {{ getDateTimeString(transaction.endTimeStamp) }}</p>
                </md-card-content>
                <md-card-actions>
                    <button md-button (click)="gotoTransactionUpdate(transaction)" style="float:right;width:100%">
                        <md-icon>edit</md-icon>
                    </button>
                </md-card-actions>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>