<!--Images-->
<h1 *ngIf="showAlias() && !showName()">{{ authUser.alias }}</h1>
<h1 *ngIf="showName()">{{ authUser.name }}</h1>
<md-card>
	<md-card-title>{{ 'IMAGES' | translate }}</md-card-title>
	<md-card-content>	
		<img *ngIf="authUser.avatar && authUser.avatar.length > 0" [src]="authUser.avatar" (click)="openImageDialog(0)" class="app-images"
		/>
		<img *ngIf="!authUser.avatar || authUser.avatar.length == 0" src="/images/default.svg" (click)="openImageDialog(0)" class="app-images"
		/>		
	</md-card-content>
</md-card>
<!--form-->
<md-card>
	<md-card-title>{{ 'USER' | translate }}</md-card-title>
	<md-card-content>
		<form [formGroup]="form" novalidate (submit)="update()">
			<!--Alias and Email not editable because of unique-->
			<!--Name-->
			<md-input-container>
				<input mdInput id="name" name="name" type="text" formControlName="name" placeholder="{{ 'NAME' | translate }}" [(ngModel)]="authUser.name"
				/>
				<md-hint *ngIf="!form.controls.name.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-input-container>
			<!--Description-->
			<md-input-container class="input">
				<input mdInput id="description" name="description" type="text" formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}"
				 [(ngModel)]="authUser.description" />
			</md-input-container>			
			<!--Education-->
			<md-input-container>
				<input mdInput type="text" formControlName="education" placeholder="{{ 'EDUCATION' | translate }}" [(ngModel)]="authUser.education"
				/>
				<md-hint *ngIf="!form.controls.description.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-input-container>		
			<!--Address-->
			<address-control-component class="full-width" (updateAddress)="handleAddressUpdate($event)" (updatePosition)="handlePositionUpdate($event)"
			 formControlName="address" [required]=true [location]="authUser.location">
			</address-control-component>
			<!--Mobile-->
			<md-input-container>
				<input mdInput id="mobile" name="mobile" type="text" formControlName="mobile" placeholder="{{ 'MOBILE' | translate }}" [(ngModel)]="authUser.mobile"
				/>
				<md-hint *ngIf="!form.controls.mobile.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-input-container>
			<!--currency-->
			<md-select id="currency" name="currency" formControlName="currency" value="eur" placeholder="{{ 'CURRENCY' | translate }}"
			 [(ngModel)]="authUser.currency">
				<md-option value="btc">฿</md-option>
				<md-option value="eth">Ξ</md-option>
				<md-option value="eur" selected>€</md-option>
				<md-option value="usd">$</md-option>
				<md-option value="gbp">£</md-option>
				<md-option value="zar">R</md-option>
				<md-hint *ngIf="!form.controls.currency.valid" align="end">
					{{ 'ERROR_FIELD_REQUIRED' | translate }}
				</md-hint>
			</md-select>
			<!--Tags-->
			<!--tag-control-component (tagUpdated)="handleTagUpdate($event)" [selectedTags]="authUser.tags" [readOnly]="false"></tag-control-component-->
		</form>
	</md-card-content>
</md-card>
<md-card *ngIf="!authUser.terms">
	<md-card-subtitle>{{ 'LEGAL_TERMS_AND_CONDITIONS' | translate }} </md-card-subtitle>
	<md-card-content>
		<terms-and-conditions-control-component [(agreeOrDisagree)]="authUser.terms" [readOnly]="false" (updateTermsAndConditions)="handleTermsUpdate($event)">
		</terms-and-conditions-control-component>
	</md-card-content>
</md-card>
<!--Fees-->
<!--md-card>
	<md-card-subtitle>{{ 'FEES' | translate }} </md-card-subtitle>
	<md-card-content>
		<fee-control-component [createFee]=true [updateFee]=true [deleteFee]=true [once]=false [hour]=true [day]=true [week]=true
		 [month]=true (feeCreateEvent)="handleFeeCreateEvent($event)" (feeUpdateEvent)="handleFeeUpdateEvent($event)" (feeDeleteEvent)="handleFeeDeleteEvent($event)"
		 [fees]="authUser.fees"></fee-control-component>
	</md-card-content>
</md-card-->
<!--Advert-->
<!--md-card>
	<md-card-subtitle>{{ 'ADVERT' | translate }} </md-card-subtitle>
	<md-card-content>
		<advert-control-component [wallet]="tokoWallet" (updateAdvert)="handleAdvertUpdate($event)"></advert-control-component>
	</md-card-content>
</md-card-->