<h1>{{ 'LOGIN' | translate }}</h1>
<div class="app-component-filler container">
  <form [formGroup]="form" novalidate (submit)="authenticateUser()">
    <mat-form-field>
      <mat-label>{{ 'EMAIL' | translate }}</mat-label>
      <input
        matInput
        id="email"
        name="email"
        type="text"
        formControlName="email"
        placeholder="{{ 'EMAIL' | translate }}"
        [(ngModel)]="login.email"
      />
      <mat-hint class="text-danger" align="end">
        <span
          [hidden]="form.controls.email.valid || (form.controls.email.pristine)"
          >{{ 'ERROR_FIELD_REQUIRED' | translate }}</span
        >
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
      <input
        matInput
        id="password"
        name="password"
        type="password"
        formControlName="password"
        minlength="5"
        placeholder="{{ 'PASSWORD' | translate }}"
        [(ngModel)]="login.password"
      />
      <mat-hint class="text-danger" align="end">
        <span
          [hidden]="form.controls.password.valid || (form.controls.password.pristine)"
          >{{ 'ERROR_FIELD_REQUIRED' | translate }}</span
        >
      </mat-hint>
    </mat-form-field>
    <span class="app-action">
      <button
        mat-fab
        id="btnLogin"
        name="btnLogin"
        type="submit"
        [disabled]="!form.valid"
        (click)="authenticateUser()"
        svgIcon="thumbs-up"
      >
        <mat-icon>done</mat-icon>
      </button>
    </span>
    <div class="register-and-password-action">
      <a mat-button [routerLink]="['/register']">{{ 'REGISTER' | translate }}</a
      >&nbsp;
      <a mat-button [routerLink]="['/user/update/password/request']"
        >{{ 'PASSWORD_FORGOTTEN' | translate }}</a
      >
    </div>
  </form>
</div>
