<h1>{{ 'LOGIN' | translate }}</h1>
<div class="app-component-filler container">
  <form [formGroup]="form" novalidate (submit)="authenticateUser()">
    <mat-input-container>
      <input
        matInput
        id="email"
        name="email"
        type="text"
        formControlName="email"
        placeholder="{{ 'EMAIL' | translate }}"
        [(ngModel)]="login.email"
      />
      <mat-hint class="text-danger" align="end">
        <span
          [hidden]="form.controls.email.valid || (form.controls.email.pristine)"
          >{{ 'ERROR_FIELD_REQUIRED' | translate }}</span
        >
      </mat-hint>
    </mat-input-container>
    <mat-input-container>
      <input
        matInput
        id="password"
        name="password"
        type="password"
        formControlName="password"
        minlength="5"
        placeholder="{{ 'PASSWORD' | translate }}"
        [(ngModel)]="login.password"
      />
      <mat-hint class="text-danger" align="end">
        <span
          [hidden]="form.controls.password.valid || (form.controls.password.pristine)"
          >{{ 'ERROR_FIELD_REQUIRED' | translate }}</span
        >
      </mat-hint>
    </mat-input-container>
    <span class="app-action">
      <button
        mat-fab
        id="btnLogin"
        name="btnLogin"
        type="submit"
        [disabled]="!form.valid"
        (click)="login()"
        svgIcon="thumbs-up"
      >
        <mat-icon>done</mat-icon>
      </button>
    </span>
    <a mat-button [routerLink]="['/user/create']"
      >{{ 'REGISTER' | translate }}</a
    >&nbsp;
    <a mat-button [routerLink]="['/user/update/password/request']"
      >{{ 'PASSWORD_FORGOTTEN' | translate }}</a
    >
  </form>
</div>
