<md-sidenav-container [class.m2app-dark]="isDarkTheme" fullscreen>
	<!--Sidebar-->
	<md-sidenav #sidenav mode="over">
		<md-nav-list>
			<!--Authenticated-->
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated()" (click)="gotoMyUser()">
				<div *ngIf="authUser && authUser.avatar">
					<img md-list-avatar [src]="sanitizer.bypassSecurityTrustUrl(authUser.avatar)" />
				</div>
				<div *ngIf="!authUser || !authUser.avatar">
					<img md-list-avatar src="/images/default-user.svg" />
				</div>
			</md-list-item>
			<!--Not authenticated-->
			<md-list-item *ngIf="!isAuthenticated()" (click)="gotoUserCreate()">
				<img md-list-avatar src="/images/default-user.svg" />
			</md-list-item>
			<md-list-item *ngIf="!isAuthenticated()">
				<h2 md-line>{{ 'ALIAS' | translate }}</h2>
			</md-list-item>
			<!--Authenticated-->
			<md-list-item *ngIf="isAuthenticated()">
				<h2 md-line>
					<b>{{ authUser.alias }}</b>
				</h2>
			</md-list-item>
			<md-list-item *ngIf="!isAuthenticated()">
				<img md-list-avatar src="/images/default-user.svg" />
			</md-list-item>

			<!--md-list-item [routerLinkActive]="['active']">
				<md-icon>info</md-icon>
				<a md-line [routerLink]="['/tags/top']">{{ 'TAGS' | translate }}</a>
			</md-list-item-->
			<md-divider></md-divider>
			<md-list-item *ngIf="!isAuthenticated()" (click)="gotoUserCreate()">
				<md-icon>add</md-icon>{{ 'REGISTER' | translate }}
			</md-list-item>
			<md-list-item [routerLinkActive]="['active']" (click)="gotoHome()">
				<md-icon md-list-icon>home</md-icon>{{ 'HOME' | translate }}
			</md-list-item>
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated()" (click)="gotoDashboard()">
				<md-icon md-list-icon>dashboard</md-icon>{{ 'DASHBOARD' | translate }}
			</md-list-item>
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated()" (click)="gotoGameDashboard()">
				<md-icon md-list-icon>games</md-icon>{{ 'GAMES' | translate }}				
			</md-list-item>		
			<!--md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated()" (click)="gotoMyUser()">
				<md-icon md-list-icon>account_box</md-icon>{{ 'MY_USER' | translate }}
			</md-list-item-->
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated() && showAssets()" (click)="gotoMyAssets()">
				<md-icon md-list-icon>work</md-icon>{{ 'MY_ASSETS' | translate }}
			</md-list-item>
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated()" (click)="gotoConversations()">
				<md-icon md-list-icon>email</md-icon>{{ 'CONVERSATIONS' | translate }}
			</md-list-item>
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated()" (click)="gotoTransactions()">
				<md-icon md-list-icon>card_travel</md-icon>{{ 'TRANSACTIONS' | translate }}
			</md-list-item>
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated()" (click)="gotoWallets()">
				<md-icon md-list-icon>card_travel</md-icon>{{ 'WALLETS' | translate }}
			</md-list-item>
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated() && showCalendar()" (click)="gotoCalendar()">
				<md-icon md-list-icon>date_range</md-icon>{{ 'CALENDAR' | translate }}
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated() && showAssets()" (click)="gotoSearchProducts()">
				<md-icon md-list-icon>search</md-icon>{{ 'SEARCH_PRODUCTS' | translate }}
			</md-list-item>
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated()" (click)="gotoSearchMember()">
				<md-icon md-list-icon>search</md-icon>{{ 'SEARCH_MEMBERS' | translate }}
			</md-list-item>
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated() && showAssets()" (click)="gotoSearchServices()">
				<md-icon md-list-icon>search</md-icon>{{ 'SEARCH_SERVICES' | translate }}
			</md-list-item>
			<md-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated() && showTransactions()" (click)="gotoSearchTransactions()">
				<md-icon md-list-icon>search</md-icon>{{ 'SEARCH_TRANSACTIONS' | translate }}
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item (click)="gotoContactUs()">
				<md-icon md-list-icon>email</md-icon>{{ 'CONTACT_US' | translate }}
			</md-list-item>
			<md-list-item (click)="gotoFAQ()">
				<md-icon md-list-icon>school</md-icon>{{ 'FAQ' | translate }}
			</md-list-item>
			<md-list-item (click)="gotoAbout()">
				<md-icon md-list-icon>local_cafe</md-icon>{{ 'About' | translate }}
			</md-list-item>
		</md-nav-list>
	</md-sidenav>
	<!--Toolbar-->
	<md-toolbar color="primary">
		<!--Show menu-->
		<button class="app-icon-button" (click)="sidenav.toggle()">
			<i class="material-icons app-toolbar-menu">menu</i>
		</button>
		<!--Show Home-->
		<img src="/images/k.small.png" (click)="gotoHome()" /><font color="white" size ="3rem"><b>oopy</b></font>
		<!--Gap-->
		<span class="app-toolbar-filler"></span>
		<!--track-->
		<!--md-slide-toggle *ngIf="showTrackToggle()" (change)="toggleTrackLocation()" [(ngModel)]="authUser.track"> {{ 'TRACK' | translate }} </md-slide-toggle-->
		<!--Language-->
		<button md-button [mdMenuTriggerFor]="menu">{{ getLanguageText() }}</button>
		<md-menu #menu="mdMenu">
			<div class="dropdown" *ngFor="let language of supportedLanguages" [class.active]="isCurrentLanguage(language.value)">
				<button md-menu-item (click)="changeLanguage(language.value)"> {{ language.display }} </button>
			</div>
		</md-menu>
		<!--Login or logout-->
		<div *ngIf="!isAuthenticated()">
			<button md-button (click)="login()">{{ 'LOGIN' | translate }}</button>
		</div>
		<div *ngIf="isAuthenticated()">
			<button md-button (click)="logout()">{{ 'LOGOUT' | translate }}</button>
			<!--logout-component></logout-component-->
		</div>
		<md-list-item [routerLinkActive]="['active']">
			<a [routerLink]="['/settings']">
				<md-icon>settings</md-icon>
			</a>
		</md-list-item>
	</md-toolbar>
	<!--Content-->
	<router-outlet></router-outlet>
	<!--div (click)="sidenav.close()"></div-->
</md-sidenav-container>
<!--Button-->
<span *ngIf="actionVisible" [class.m2app-dark]="isDarkTheme">
	<button md-fab id="btnSave" name="btnSave" type="submit" class="app-action-parent" (click)="click()">
		<md-icon>{{ actionIcon }}</md-icon>
	</button>
</span>

<!--span *ngIf="showActionButton()" [class.m2app-dark]="isDarkTheme">
		<button md-fab id="btnSave" name="btnSave" type="submit" class="app-action-parent" (click)="click()">
			<md-icon>{{ actionButtonIcon }}</md-icon>
		</button>
	</span-->