<mat-sidenav-container fullscreen>
  <!--Sidebar-->
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <!--Authenticated-->
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated()"
        (click)="gotoMyUser()"
      >
        <img mat-list-avatar [src]="getAvatar()" />
      </mat-list-item>
      <!--Not authenticated-->
      <mat-list-item *ngIf="!isAuthenticated()" (click)="gotoUserCreate()">
        <img mat-list-avatar src="/images/default-user.svg" />
      </mat-list-item>
      <mat-list-item *ngIf="!isAuthenticated()">
        <h2 mat-line>{{ 'ALIAS' | translate }}</h2>
      </mat-list-item>
      <!--Authenticated-->
      <mat-list-item *ngIf="isAuthenticated()">
        <h2 mat-line>
          <b>{{ authUser.alias }}</b>
        </h2>
      </mat-list-item>
      <mat-list-item *ngIf="!isAuthenticated()">
        <img mat-list-avatar src="/images/default-user.svg" />
      </mat-list-item>

      <!--mat-list-item [routerLinkActive]="['active']">
				<mat-icon>info</mat-icon>
				<a mat-line [routerLink]="['/tags/top']">{{ 'TAGS' | translate }}</a>
			</mat-list-item-->
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="!isAuthenticated()" (click)="gotoUserCreate()">
        <mat-icon>add</mat-icon>{{ 'REGISTER' | translate }}
      </mat-list-item>
      <mat-list-item [routerLinkActive]="['active']" (click)="gotoHome()">
        <mat-icon mat-list-icon>home</mat-icon>{{ 'HOME' | translate }}
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated()"
        (click)="gotoDashboard()"
      >
        <mat-icon mat-list-icon>dashboard</mat-icon>{{ 'DASHBOARD' | translate
        }}
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated()"
        (click)="gotoGameDashboard()"
      >
        <mat-icon mat-list-icon>games</mat-icon>{{ 'GAMES' | translate }}
      </mat-list-item>
      <!--mat-list-item [routerLinkActive]="['active']" *ngIf="isAuthenticated()" (click)="gotoMyUser()">
				<mat-icon mat-list-icon>account_box</mat-icon>{{ 'MY_USER' | translate }}
			</mat-list-item-->
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated() && showAssets()"
        (click)="gotoMyAssets()"
      >
        <mat-icon mat-list-icon>work</mat-icon>{{ 'MY_ASSETS' | translate }}
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated()"
        (click)="gotoConversations()"
      >
        <mat-icon mat-list-icon>email</mat-icon>{{ 'CONVERSATIONS' | translate
        }}
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated()"
        (click)="gotoTransactions()"
      >
        <mat-icon mat-list-icon>card_travel</mat-icon>{{ 'TRANSACTIONS' |
        translate }}
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated()"
        (click)="gotoWallets()"
      >
        <mat-icon mat-list-icon>card_travel</mat-icon>{{ 'WALLETS' | translate
        }}
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated() && showCalendar()"
        (click)="gotoCalendar()"
      >
        <mat-icon mat-list-icon>date_range</mat-icon>{{ 'CALENDAR' | translate
        }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated() && showAssets()"
        (click)="gotoSearchProducts()"
      >
        <mat-icon mat-list-icon>search</mat-icon>{{ 'SEARCH_PRODUCTS' |
        translate }}
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated()"
        (click)="gotoSearchMember()"
      >
        <mat-icon mat-list-icon>search</mat-icon>{{ 'SEARCH_MEMBERS' | translate
        }}
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated() && showAssets()"
        (click)="gotoSearchServices()"
      >
        <mat-icon mat-list-icon>search</mat-icon>{{ 'SEARCH_SERVICES' |
        translate }}
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        *ngIf="isAuthenticated() && showTransactions()"
        (click)="gotoSearchTransactions()"
      >
        <mat-icon mat-list-icon>search</mat-icon>{{ 'SEARCH_TRANSACTIONS' |
        translate }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="gotoContactUs()">
        <mat-icon mat-list-icon>email</mat-icon>{{ 'CONTACT_US' | translate }}
      </mat-list-item>
      <mat-list-item (click)="gotoFAQ()">
        <mat-icon mat-list-icon>school</mat-icon>{{ 'FAQ' | translate }}
      </mat-list-item>
      <mat-list-item (click)="gotoAbout()">
        <mat-icon mat-list-icon>local_cafe</mat-icon>{{ 'About' | translate }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <!--Toolbar-->
  <mat-toolbar color="primary">
    <!--Show menu-->
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <!--Show Home-->
    <img src="./images/k.small.png" (click)="gotoHome()" /><font
      color="white"
      size="3rem"
      ><b>oopy</b></font
    >
    <!--Gap-->
    <span class="app-toolbar-filler"></span>
    <!--track-->
    <!--mat-slide-toggle *ngIf="showTrackToggle()" (change)="toggleTrackLocation()" [(ngModel)]="authUser.track"> {{ 'TRACK' | translate }} </mat-slide-toggle-->
    <!--Language-->
    <button mat-button [matMenuTriggerFor]="menu">
      {{ getLanguageText() }}
    </button>
    <mat-menu #menu="matMenu">
      <div
        class="dropdown"
        *ngFor="let language of supportedLanguages"
        [class.active]="isCurrentLanguage(language.value)"
      >
        <button mat-menu-item (click)="changeLanguage(language.value)">
          {{ language.display }}
        </button>
      </div>
    </mat-menu>
    <!--Login or logout-->
    <div *ngIf="!isAuthenticated()">
      <button mat-button (click)="login()">{{ 'LOGIN' | translate }}</button>
    </div>
    <div *ngIf="isAuthenticated()">
      <button mat-button (click)="logout()">{{ 'LOGOUT' | translate }}</button>
      <!--logout-component></logout-component-->
    </div>
    <mat-list-item [routerLinkActive]="['active']">
      <a [routerLink]="['/configuration']">
        <mat-icon>settings</mat-icon>
      </a>
    </mat-list-item>
  </mat-toolbar>
  <!--Content-->
  <router-outlet></router-outlet>
  <!--div (click)="sidenav.close()"></div-->
</mat-sidenav-container>
<!--Button-->
<span *ngIf="actionVisible">
  <button
    mat-fab
    id="btnSave"
    name="btnSave"
    type="submit"
    class="app-action-parent"
    (click)="click()"
  >
    <mat-icon>{{ actionIcon }}</mat-icon>
  </button>
</span>

<!--span *ngIf="showActionButton()" [class.m2app-dark]="isDarkTheme">
		<button mat-fab id="btnSave" name="btnSave" type="submit" class="app-action-parent" (click)="click()">
			<mat-icon>{{ actionButtonIcon }}</mat-icon>
		</button>
	</span-->
