<div class="app-component-filler">
  <h1>{{ 'CONTACT_US' | translate }}</h1>
  <form [formGroup]="form" novalidate (submit)="sendContactForm()">
    <mat-form-field>
      <mat-label>{{ 'NAME' | translate }}</mat-label>
      <input
        matInput
        autofocus
        id="name"
        name="name"
        type="text"
        formControlName="name"
        placeholder="{{ 'NAME' | translate }}"
        [(ngModel)]="contact.name"
      />
      <mat-hint *ngIf="form.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'EMAIL' | translate }}</mat-label>
      <input
        matInput
        id="email"
        name="email"
        type="text"
        formControlName="email"
        placeholder="{{ 'EMAIL' | translate }}"
        [(ngModel)]="contact.email"
      />
      <mat-hint *ngIf="form.controls.email.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'SUBJECT' | translate }}</mat-label>
      <input
        matInput
        id="subject"
        name="subject"
        type="text"
        formControlName="subject"
        placeholder="{{ 'SUBJECT' | translate }}"
        [(ngModel)]="contact.subject"
      />
      <mat-hint *ngIf="form.controls.subject.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'MESSAGE' | translate }}</mat-label>
      <textarea
        matInput
        id="content"
        name="content"
        type="text"
        formControlName="text"
        placeholder="{{ 'MESSAGE' | translate }}"
        [(ngModel)]="contact.content"
      ></textarea>
      <mat-hint *ngIf="form.controls.text.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <span class="contact-action">
      <button mat-fab type="submit" [disabled]="!form.valid">
        <mat-icon>email</mat-icon>
      </button>
    </span>
  </form>
</div>
