<div class="app-component-filler">
	<h1>{{ 'CONTACT_US' | translate }}</h1>
	<form [formGroup]="form" novalidate (submit)="sendContactForm()">
		<!--Name-->
		<md-input-container>
			<input mdInput autofocus id="name" name="name" type="text" formControlName="name" placeholder="{{ 'NAME' | translate }}"
			 [(ngModel)]="message.fromName" />
			<md-hint *ngIf="form.controls.name.valid" align="end">
				{{ 'FIELD_REQUIRED' | translate }}
			</md-hint>
		</md-input-container>
		<!--Email-->
		<md-input-container >
			<input mdInput id="email" name="email" type="text" formControlName="email"  placeholder="{{ 'EMAIL' | translate }}"
			 [(ngModel)]="message.fromEmail" />
			<md-hint *ngIf="form.controls.email.valid" align="end">
				{{ 'FIELD_REQUIRED' | translate }}
			</md-hint>
		</md-input-container>
		<!--Subject-->
		<md-input-container>
			<input mdInput id="subject" name="subject" type="text" formControlName="subject" placeholder="{{ 'SUBJECT' | translate }}"
			 [(ngModel)]="message.subject" />
			<md-hint *ngIf="form.controls.subject.valid" align="end">
				{{ 'FIELD_REQUIRED' | translate }}
			</md-hint>
		</md-input-container>
		<!--Message-->
		<md-input-container>
			<input mdInput id="text" name="text" type="text" formControlName="text" placeholder="{{ 'MESSAGE' | translate }}"
			 [(ngModel)]="message.text" />
			<md-hint *ngIf="form.controls.text.valid" align="end">
				{{ 'FIELD_REQUIRED' | translate }}
			</md-hint>
		</md-input-container>
		<!--Button-->
		<!--span class="app-action" [class.m2app-dark]="isDarkTheme">			
			<button md-fab type="submit" [disabled]="!myForm.valid"><md-icon>email</md-icon></button>
		</span-->
	</form>
</div>