<div class="app-component-filler">
  <h1>{{ 'CONTACT_US' | translate }}</h1>
  <form [formGroup]="form" novalidate (submit)="sendContactForm()">
    <!--Name-->
    <mat-input-container>
      <input
        matInput
        autofocus
        id="name"
        name="name"
        type="text"
        formControlName="name"
        placeholder="{{ 'NAME' | translate }}"
        [(ngModel)]="message.fromName"
      />
      <mat-hint *ngIf="form.controls.name.valid" align="end">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-input-container>
    <!--Email-->
    <mat-input-container>
      <input
        matInput
        id="email"
        name="email"
        type="text"
        formControlName="email"
        placeholder="{{ 'EMAIL' | translate }}"
        [(ngModel)]="message.fromEmail"
      />
      <mat-hint *ngIf="form.controls.email.valid" align="end">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-input-container>
    <!--Subject-->
    <mat-input-container>
      <input
        matInput
        id="subject"
        name="subject"
        type="text"
        formControlName="subject"
        placeholder="{{ 'SUBJECT' | translate }}"
        [(ngModel)]="message.subject"
      />
      <mat-hint *ngIf="form.controls.subject.valid" align="end">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-input-container>
    <!--Message-->
    <mat-input-container>
      <input
        matInput
        id="text"
        name="text"
        type="text"
        formControlName="text"
        placeholder="{{ 'MESSAGE' | translate }}"
        [(ngModel)]="message.text"
      />
      <mat-hint *ngIf="form.controls.text.valid" align="end">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-input-container>
    <!--Button-->
    <!--span class="app-action" [class.m2app-dark]="isDarkTheme">			
			<button mat-fab type="submit" [disabled]="!myForm.valid"><mat-icon>email</mat-icon></button>
		</span-->
  </form>
</div>
