<h3>{{ 'TAGS' | translate }}</h3>
<!--Top tag results here-->
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let topTag of topTags.tags">
        <div *ngIf="this.translateService.currentLang === 'en'">
          <a href="javascript:void(0);" (click)="findUsers(topTag.id)">
            {{ topTag.en }}
          </a>
        </div>
        <div *ngIf="this.translateService.currentLang === 'es'">
          <a href="javascript:void(0);" (click)="findUsers(topTag.id)">
            {{ topTag.es }}
          </a>
        </div>
        <div *ngIf="this.translateService.currentLang === 'it'">
          <a href="javascript:void(0);" (click)="findUsers(topTag.id)"
            >{{ topTag.it }}
          </a>
        </div>
        <div *ngIf="this.translateService.currentLang === 'de'">
          <a href="javascript:void(0);" (click)="findUsers(topTag.id)">
            {{ topTag.de }}
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
