.register-component {
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
}

h1 {
  text-align: center;
}

input {
  text-transform: lowercase;
}

mat-form-field {
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
}

.mat-fab {
  position: fixed !important;
  right: 2vw;
  bottom: 2vh;
}

.register-action {
  padding-left: 2vw;
  padding-right: 2vw;
  float: right;
}
