<!--Images-->
<mat-card>
  <mat-card-title>{{ 'IMAGES' | translate }}</mat-card-title>
  <mat-card-content>
    <img
      *ngIf="authUser.avatar"
      [src]="authUser.avatar"
      alt=""
      (click)="openImageDialog(0)"
      style="margin-left: 2vw !important;"
    />
    <img
      *ngIf="!authUser || !authUser.avatar"
      src="/images/default.svg"
      (click)="openImageDialog(0)"
      style="margin-left: 2vw !important;"
    />
  </mat-card-content>
</mat-card>
<!--form-->
<mat-card>
  <mat-card-title>{{ 'USER' | translate }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" novalidate (submit)="create()">
      <mat-form-field>
        <mat-label>{{ 'ALIAS' | translate }}</mat-label>
        <input
          matInput
          autofocus
          id="alias"
          name="alias"
          type="text"
          formControlName="alias"
          placeholder="{{ 'ALIAS' | translate }}"
          [(ngModel)]="authUser.alias"
          (blur)="handleAliasUpdate($event)"
        />
        <mat-hint *ngIf="!form.controls.alias.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'EMAIL' | translate }}</mat-label>
        <input
          matInput
          id="email"
          name="email"
          type="email"
          formControlName="email"
          placeholder="{{ 'EMAIL' | translate }}"
          [(ngModel)]="authUser.email"
          (blur)="handleEmailUpdate($event)"
        />
        <mat-hint *ngIf="!form.controls.email.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'NAME' | translate }}</mat-label>
        <input
          matInput
          id="name"
          name="name"
          type="text"
          formControlName="name"
          placeholder="{{ 'NAME' | translate }}"
          [(ngModel)]="authUser.name"
        />
        <mat-hint *ngIf="!form.controls.name.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
        <input
          matInput
          id="password"
          name="password"
          type="password"
          formControlName="password"
          placeholder="{{ 'PASSWORD' | translate }}"
          [(ngModel)]="authUser.password"
        />
        <mat-hint *ngIf="!form.controls.password.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'BIRTHDAY' | translate }}</mat-label>
        <input
          matInput
          type="date"
          formControlName="birthday"
          name="birthday"
          placeholder="{{ 'BIRTHDAY' | translate }}"
          [(ngModel)]="birthday"
          (change)="handleBirthdayUpdate($event)"
        />
        <mat-hint *ngIf="!form.controls.birthday.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-form-field>

      <address-textbox
        formControlName="address"
        (updateAddress)="handleAddressUpdate($event)"
        (updatePosition)="handlePositionUpdate($event)"
        [required]="true"
      >
      </address-textbox>

      <mat-form-field>
        <mat-label>{{ 'MOBILE' | translate }}</mat-label>
        <input
          matInput
          id="mobile"
          name="mobile"
          type="text"
          formControlName="mobile"
          placeholder="{{ 'MOBILE' | translate }}"
          [(ngModel)]="authUser.mobile"
        />
        <mat-hint *ngIf="!form.controls.mobile.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'DESCRIPTION' | translate }}</mat-label>
        <input
          matInput
          id="description"
          name="description"
          type="text"
          formControlName="description"
          placeholder="{{ 'DESCRIPTION' | translate }}"
          [(ngModel)]="authUser.description"
        />
        <mat-hint *ngIf="!form.controls.description.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'EDUCATION' | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="education"
          placeholder="{{ 'EDUCATION' | translate }}"
          [(ngModel)]="authUser.education"
        />
        <mat-hint *ngIf="!form.controls.description.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-subtitle>{{ 'GDPR' | translate }} </mat-card-subtitle>
  <mat-card-content>
    <gdpr-component
      [(consent)]="authUser.gdpr"
      [readOnly]="false"
      (updateGdpr)="changeGdpr($event)"
    >
    </gdpr-component>
  </mat-card-content>
</mat-card>
