<h2>{{ 'USER' | translate }}</h2>
<div>
  <form [formGroup]="form" novalidate (submit)="register()">
    <div class="app-component-filler container">
      <image-edit
        formControlName="avatar"
        name="avatar"
        [shrink]="true"
      ></image-edit>
    </div>

    <mat-form-field>
      <mat-label>{{ 'ALIAS' | translate }}</mat-label>
      <input
        matInput
        autofocus
        id="alias"
        name="alias"
        type="text"
        formControlName="alias"
        placeholder="{{ 'ALIAS' | translate }}"
      />
      <mat-hint *ngIf="!form.controls.alias.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRES_MINIMUM_CHARACTERS' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'EMAIL' | translate }}</mat-label>
      <input
        matInput
        id="email"
        name="email"
        type="email"
        formControlName="email"
        placeholder="{{ 'EMAIL' | translate }}"
      />
      <mat-hint *ngIf="!form.controls.email.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'NAME' | translate }}</mat-label>
      <input
        matInput
        id="name"
        name="name"
        type="text"
        formControlName="name"
        placeholder="{{ 'NAME' | translate }}"
      />
      <mat-hint *ngIf="!form.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRES_MINIMUM_CHARACTERS' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
      <input
        matInput
        id="password"
        name="password"
        type="password"
        formControlName="password"
        placeholder="{{ 'PASSWORD' | translate }}"
      />
      <mat-hint *ngIf="!form.controls.password.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRES_MINIMUM_CHARACTERS' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'BIRTHDAY' | translate }}</mat-label>
      <input
        matInput
        type="date"
        formControlName="birthday"
        name="birthday"
        placeholder="{{ 'BIRTHDAY' | translate }}"
      />
      <mat-hint *ngIf="!form.controls.birthday.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'MOBILE' | translate }}</mat-label>
      <input
        matInput
        id="mobile"
        name="mobile"
        type="tel"
        formControlName="mobile"
        placeholder="{{ 'MOBILE' | translate }}"
      />
      <mat-hint *ngIf="!form.controls.mobile.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRES_MINIMUM_CHARACTERS' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'DESCRIPTION' | translate }}</mat-label>
      <input
        matInput
        id="description"
        name="description"
        type="text"
        formControlName="description"
        placeholder="{{ 'DESCRIPTION' | translate }}"
      />
      <mat-hint *ngIf="!form.controls.description.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'EDUCATION' | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="education"
        placeholder="{{ 'EDUCATION' | translate }}"
      />
      <mat-hint *ngIf="!form.controls.description.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <h3>{{ 'GDPR' | translate }}</h3>

    <gdpr-component
      formControlName="gdpr"
      (optionChange)="handleGdprUpdate($event)"
      [showOptions]="true"
    >
    </gdpr-component>

    <span class="app-action">
      <button
        (click)="register()"
        [disabled]="!form.valid"
        id="btnRegister"
        mat-fab
        name="btnRegister"
        type="submit"
        svgIcon="verified_user"
      >
        <mat-icon>verified_user</mat-icon>
      </button>
    </span>
  </form>
</div>
