<!--Confirm dialog-->
<div mat-dialog-container>
  <h1 mat-dialog-title id="title">Confirm</h1>
  <div mat-dialog-content>Are you sure?</div>
  <div mat-dialog-actions>
    <table width="100%" cellspacing="0">
      <tr>
        <td>
          <button
            mat-raised-button
            type="button"
            (click)="dialogRef.close(true)" i18n>Yes</button>
        </td>
        <td>
          <button
            mat-raised-button
            type="button"
            (click)="dialogRef.close(false)" i18n>No</button>
        </td>
      </tr>
    </table>
  </div>
</div>
