/*@import "~material-design-icons/iconfont/material-icons.css";*/
/*@import "~@angular/material/theming";*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "surf-and-turf.css";

/*.app-action {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.app-action-parent {
  display: inline-block;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.app-address-with-button {
  width: 95%;
}

.app-address-without-button {
  width: 100%;
}*/

.app-component-filler {
  /*min-height: 88vh*/
  flex: 1 1 auto;
}

/*.app-content {
  padding: 20px; 
  width:90%;
}

.app-content mat-card {
  margin: 20px;
}*/

.app-content mat-checkbox {
  margin: 10px;
}

.app-distance-text {
  /* font-size: 140%;  */
  /* font-weight: bold; */
  /* vertical-align: middle; */
  float: right;
}

.app-view-button a {
  position: relative;
  top: 10%;
  right: 10%;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.app-search-form {
  margin-left: 1% !important;
  margin-right: 1% !important;
  margin-bottom: 1% !important;
  margin-top: 1% !important;
  width: 98%;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-sidebar {
  height: 100%;
  width: 15vw;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

/*.app-toolbar-filler {
  flex: 1 1 auto;  
}*/

/*.app-toolbar-title {
  padding-left: 2vw;  
}*/

.app-toolbar-center {
  color: white;
  display: flex;
  justify-content: center;
  width:33.33333%;
}

.app-toolbar-left {
  display: inline-flex;
  justify-content:  flex-start;
  width:33.33333%;  
}

.app-toolbar-right {
  display: inline-flex;  
  justify-content: flex-end;
  width:33.33333%;  
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-invisible {
  display: none;
}

.app-space {
  padding-bottom: 40vh;
}

.calendar {
  margin-left: 2vw !important;
  margin-right: 2vw !important;
  width: 90vw !important;
}

b {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#btnLanguage {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

#btnMenu {
  margin-right: 0.5vw;
}

#btnApplication {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
}

.color-toolbar {
  background-color: #f6d488; 
}

.color-green {
  color: #42a948; 
}

.color-orange {
  color: #ffa900; 
}

.color-red {
  color: #a94442; 
}

/*form {
  margin-left: 1% !important;
  margin-right: 1% !important;
  margin-bottom: 1% !important;
  margin-top: 1% !important;
  width: 98%;
}*/

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1vw;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  margin: 0;
  padding: 0;
}

html,
body,
material-app,
mat-sidenav-container,
.application {
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.full-width-button {
  font-family: Arial, Helvetica, sans-serif;
  /*margin-left: 2vw !important;*/
  /*margin-right: 2vw !important; */
  width: 100% !important;
}

.full-width {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2vw !important;
  margin-right: 2vw !important;
  width: 90vw !important;
}

/*.full-screen {
  width: 100%;
  height: 100%;
}*/

/*@media screen and (max-width: 512px) {
  .app-images {
    height: 100vw;
    width: 100vw;
  }
}

@media screen and (min-width: 513px) and (min-width: 1024px) {
  .app-images {  
    height: calc(50vw - 4px);
    width: calc(50vw - 4px);
  }
}

@media screen and (min-width: 1025px) {
  .app-images {
  
    height: calc(24vw - 4px);
    width: calc(24vw - 4px);
  }
}*/

mat-toolbar {
  /*display: block;*/
  /*position :absolute;
  width : 100vw;*/
  display:flex; flex-flow:row wrap;
}

mat-input-container,
.mat-autocomplete,
.mat-chip-list,
.frm-button,
.mat-slider {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2vw !important;
  margin-right: 2vw !important;
  width: 90vw !important;
}

mat-slider {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2vw !important;
  margin-right: 2vw !important;
  width: 82vw !important;
}

mat-slide-toggle {
  margin-left: 2vw !important;
}

mat-chip,
mat-chip-remove-container {
  /*color: #dd2c00  !important ;*/
  max-height: 30px !important;
  padding-top: 1px !important;
}

/*.mat-card { 
  max-width: 512px !important ;  
  background-size: cover;
}*/

.mat-chip-remove-button {
  font-size: 1rem !important;
  height: 1rem !important;
  width: 1rem !important;
  padding-bottom: 15px !important;
}

.mat-dialog-container {
  width: 600px;
  height: 600px;
}

mat-radio-group {
  margin-left: 2vw !important;
  margin-right: 2vw !important;
  padding-bottom: 3vh !important;
  padding-top: 1vh !important;
  width: 90vw !important;
}

mat-sidenav-layout.m2app-dark {
  background: black;
}

/*.ng-valid[required] {
  border-left: 5px solid #42A948; 
}*/

mat-hint {
  color: #a94442; /* red */
}

p {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1% !important;
}

.imageRoundSmall {
  width: 5vh !important;
  height: 5vh !important;
  border-radius: 50% !important;
  background-position: center center !important;
  background-size: cover !important;
}

.imageRoundMedium {
  width: 20vh !important;
  height: 20vh !important;
  border-radius: 50% !important; 
  background-position: center center !important;
  background-size: cover !important;
}

select,
mat-select,
option {
  margin-left: 2vw !important;
  margin-right: 2vw !important;
  padding-bottom: 1vh !important;
  padding-top: 1vh !important;
  width: 90vw !important;
}

section {
  margin-top: 1vh !important;
  margin-left: 2vw !important;
  margin-right: 2vw !important;
}

.small-video {
  max-height: 70vh;
  width: 100vw;
  object-fit: contain;
}

.star {
  font-size: 4rem !important;
  height: 4rem !important;
  width: 4rem !important;
}

.svg {
  width: 100%;
  height: auto;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1% !important;
  margin-right: 1% !important;
  margin-bottom: 1% !important;
  margin-top: 1% !important;
  width: 98%;
  border: 0px transparent !important;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2vw !important;
  margin-right: 2vw !important;
  width: 90vw !important;
  border-radius: 1px !important;
  border: 1px solid lightgray;
}



td {
  border: 0px transparent !important;
}

th {
  text-align: left;
  border: 0px transparent !important;
}

.txtTitle {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0rem;
  font-weight: bold;
}
