img {
  border-radius: 50%;
  width: 8vw;
}

.mat-fab {
  position: fixed !important;
  right: 2vw;
  bottom: 2vh;
}

h1 {
  text-align: center;
}

table {
  padding-left: 2vw;
  padding-right: 2vw;
  width:100%;
}

