<div>
  <table mat-table [dataSource]="dataSource" matSort>
    <!--ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>
        {{ 'ID' | translate }}
      </th>
      <td mat-cell *matCellDef="let element" hidden>{{element.id}}</td>
    </ng-container-->

    <ng-container matColumnDef="firstImage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'IMAGE' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <img *ngIf="element.asset.firstImage.length == 0" src="/images/default.svg" />
        <img
          *ngIf="element.asset.firstImage.length !== 0"
          [src]="element.asset.firstImage"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'NAME' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.asset.name}}</td>
    </ng-container>

    <ng-container matColumnDef="positive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'POSITIVE' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.asset.positive}}<mat-icon matBadgeColor="warn">thumb_up</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="negative">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'NEGATIVE' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.asset.negative}}<mat-icon matBadgeColor="warn">thumb_down</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'DISTANCE' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ getDistance(element.asset.latitude,element.asset.longitude)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="review">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'REVIEW' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab (click)="openReview(element)">
          <mat-icon>star</mat-icon>
        </button>
     </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'EDIT' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab (click)="edit(element)">
          <mat-icon>edit</mat-icon>
        </button>
     </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>

  <mat-paginator
    #paginatorElement
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons
  >
  </mat-paginator>

  <button
    (click)="create()"
    id="btnCreate"
    mat-fab
    name="btnCreate"
    type="submit"    
  >
    <mat-icon>add</mat-icon>
  </button>
</div>