<h1>{{ 'EVENT' | translate }}</h1>
<div *ngIf="event">
  <!--Name-->
  <mat-input-container>
    <input
      matInput
      type="text"
      placeholder="{{ 'NAME' | translate }}"
      [(ngModel)]="appointment.name"
    />
  </mat-input-container>
  <!--Decription-->
  <mat-input-container>
    <input
      matInput
      type="text"
      placeholder="{{ 'DESCRIPTION' | translate }}"
      [(ngModel)]="appointment.description"
    />
  </mat-input-container>
  <!--Start-->
  <mat-input-container>
    <input
      matInput
      [matDatepicker]="startPicker"
      placeholder="{{ 'START' | translate }}"
      (change)="onStartTimeStampChange($event)"
      [(ngModel)]="startDate"
    />
    <button matSuffix [matDatepickerToggle]="startPicker"></button>
  </mat-input-container>
  <mat-datepicker
    [startAt]="startDate"
    [min]="min"
    [max]="max"
    [(date)]="startDate"
    #startPicker
  ></mat-datepicker>
  <mat-input-container>
    <input
      matInput
      type="time"
      value="08:00"
      placeholder="{{ 'TIME' | translate }}"
      [(ngModel)]="startTime"
      (change)="onStartTimeStampChange($event)"
    />
  </mat-input-container>
  <!--End-->
  <mat-input-container (change)="onEndTimeStampChange($event)">
    <input
      matInput
      [matDatepicker]="endPicker"
      placeholder="{{ 'END' | translate }}"
      (change)="onStartTimeStampChange($event)"
      [(ngModel)]="endDate"
    />
    <button matSuffix [matDatepickerToggle]="endPicker"></button>
  </mat-input-container>
  <mat-datepicker
    [startAt]="endDate"
    [min]="min"
    [max]="max"
    [(date)]="endDate"
    #endPicker
  ></mat-datepicker>
  <mat-input-container>
    <input
      matInput
      type="time"
      value="09:00"
      placeholder="{{ 'TIME' | translate }}"
      [(ngModel)]="endTime"
      (change)="onEndTimeStampChange($event)"
    />
  </mat-input-container>
  <!--Daily, Weekly, Monthly-->
  <p>{{ 'REPEAT' | translate }}</p>
  <mat-radio-group [(ngModel)]="event.type">
    <mat-radio-button value="once" selected
      >{{ 'ONCE' | translate }}</mat-radio-button
    >
    <mat-radio-button value="day">{{ 'DAILY' | translate }}</mat-radio-button>
    <mat-radio-button value="week">{{ 'WEEKLY' | translate }}</mat-radio-button>
    <mat-radio-button value="month"
      >{{ 'MONTHLY' | translate }}</mat-radio-button
    >
    <mat-radio-button value="year">{{ 'YEARLY' | translate }}</mat-radio-button>
  </mat-radio-group>
  <p>
    &nbsp;
    <!--space-->&nbsp;
  </p>
</div>
