<table id="advertbox" name="advertbox" cellspacing="0">
  <tr>
    <td>
      <mat-radio-group [(ngModel)]="period" (change)="onChange($event)">
        <mat-radio-button value="day">{{ 'DAY' | translate }}</mat-radio-button>
        &nbsp;
        <mat-radio-button value="week"
          >{{ 'WEEK' | translate }}</mat-radio-button
        >
        &nbsp;
        <mat-radio-button value="month"
          >{{ 'MONTH' | translate }}</mat-radio-button
        >
        &nbsp;
        <mat-radio-button value="none"
          >{{ 'NONE' | translate }}</mat-radio-button
        >
      </mat-radio-group>
    </td>
    <td></td>
    <td>
      <div *ngIf="hasCredit()">
        {{ value }} TOK
      </div>
      <div *ngIf="!hasCredit()">
        {{ 'ERROR_NOT_ENOUGH_CREDIT' | translate }}
      </div>
    </td>
  </tr>
</table>
