<!--Tag list-->
<div class="mat-chip-list">
  <mat-chip-list>
    <mat-chip
      *ngFor="let tag of selectedTags"
      selected="true"
      selectable="true"
      [value]="tag.id"
    >
      {{ getTagText(tag) }}
      <button
        id="tagAutoCompleteButton"
        name="tagAutoCompleteButton"
        mat-icon-button
        (click)="chipRemove($event, tag)"
      >
        <mat-icon class="mat-chip-remove-button">close</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>
</div>
<!--Autocomplete-->
<div *ngIf="!readOnly">
  <!--Tag search-->
  <mat-input-container>
    <input
      matInput
      id="tagAutoCompleteQuery"
      name="tagAutoCompleteQuery"
      type="text"
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      placeholder="{{ 'TAGS' | translate }}"
      #tagElement
    />
    <!--[formControl]="tagCtrl" (blur)="chipAdd($event)"-->
  </mat-input-container>
  <!--Tag suggestions-->
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      (onSelectionChange)="chipAdd($event, tag)"
      *ngFor="let tag of filteredTags | async"
      [id]="tag.id"
      [value]="getTagText(tag)"
      placeholder="{{ 'TAGS' | translate }}"
    >
      {{ getTagText(tag) }}
    </mat-option>
  </mat-autocomplete>
</div>
