<div>
  <mat-form-field>
    <mat-label>{{ 'ADDRESS' | translate }}</mat-label>
    <input
      matInput
      id="addressAutoComplete"
      name="addressAutoComplete"
      type="text"
      placeholder="{{ 'ADDRESS' | translate }}"
      [value]="address"
      [(ngModel)]="location.address"
      (change)="onChange($event)"
      (blur)="onBlur($event)"
      disabled="{{ isGPSEnabled() }}"
      autocomplete="off"
      #addressElement
    />
    <mat-hint
      *ngIf="required == true && location.address.length == 0 && !GPSEnabled"
      align="end"
    >
      {{ 'ERROR_FIELD_REQUIRED' | translate }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'ADDRESS' | translate }}</mat-label>
    <input
      matInput
      matGoogleMapsAutocomplete
      (onAutocompleteSelected)="onAutocompleteSelected($event)"
      (onLocationSelected)="onLocationSelected($event)"
    />
  </mat-form-field>
  <button
    *ngIf="positionButton==true"
    mat-raised-button
    id="btnCurrentLocation"
    name="btnCurrentLocation"
    (click)="getPosition()"
    class="full-width"
  >
    <mat-icon *ngIf="GPSEnabled==true">gps_fixed</mat-icon>
    <mat-icon *ngIf="GPSEnabled==false">gps_not_fixed</mat-icon>
  </button>
</div>
