<div class="dashboard">

  <table>
    <tr>
      <td>
        <img mat-list-avatar [src]="this.store.getAvatar()" />
      </td>
      <td>
        <button mat-mini-fab type="button">
          <mat-icon>email</mat-icon>
        </button>
        {{ conversationNotReceivedCount }}

        <button mat-mini-fab type="button" (click)="getMyUser()">
          <mat-icon>sync</mat-icon>
        </button>
        {{ conversationNotSentCount }}
      </td>
    </tr>
    <tr>
      <td>
        @if(user && user.avatar) {
        <div>
          <h1>{{ user.alias }}</h1>
        </div>
        }
        @if(!user || !user.avatar) {
        <div>
          <h1 i18n>Alias</h1>
        </div>
        }
      </td>
      <td>

      </td>
    </tr>
  </table>

  <mat-nav-list>
    <mat-list-item>
      <mat-slide-toggle (change)="toggleTrack($event)" [(ngModel)]="user.track" i18n>Track</mat-slide-toggle>
    </mat-list-item>
  </mat-nav-list>

  <h2><span i18n>Balance</span> - <span i18n>Credit</span></h2>

  <table width="100%" cellspacing="0">
    <tr>
      <td>
        <h6 style="text-transform: uppercase">{{ tokoWallet.balance }} TOK</h6>
      </td>
    </tr>
  </table>
</div>