<h1>{{ 'DASHBOARD' | translate }}</h1>
<mat-card>
  <div *ngIf="authUser && authUser.avatar">
    <img
      mat-list-avatar
      [src]="sanitizer.bypassSecurityTrustUrl(authUser.avatar)"
      class="roundImage"
    />
    <h1>{{ authUser.alias }}</h1>
  </div>
  <div *ngIf="!authUser || !authUser.avatar">
    <img mat-list-avatar src="/images/default.svg" class="roundImage" />
    <h1>{{ 'ALIAS' | translate }}</h1>
  </div>
  <mat-nav-list>
    <mat-list-item>
      <mat-slide-toggle
        (change)="toggleTrack($event)"
        [(ngModel)]="authUser.track"
        >{{ 'TRACK' | translate }}
      </mat-slide-toggle>
    </mat-list-item>
  </mat-nav-list>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button mat-mini-fab type="button">
          <mat-icon>email</mat-icon>
        </button>
        {{ messageUndeliveredCount }}
      </td>
      <td>
        <button mat-mini-fab type="button">
          <mat-icon>sync</mat-icon>
        </button>
        {{ messageUnsentCount }}
      </td>
    </tr>
  </table>
</mat-card>
<div *ngIf="hasTransactions()">
  <mat-card *ngIf="tokoWallet">
    <mat-card-title
      >{{ 'BALANCE' | translate }} - {{ 'CREDIT' | translate }}</mat-card-title
    >
    <mat-card-content>
      <table width="100%" cellspacing="0">
        <tr>
          <td>
            <h6 style="text-transform: uppercase;">
              {{ tokoWallet.balance }} TOK
            </h6>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="bitcoinWallet">
    <mat-card-title
      >{{ 'BALANCE' | translate }} - {{ 'BITCOIN' | translate }}</mat-card-title
    >
    <mat-card-content>
      <table width="100%" cellspacing="0">
        <tr>
          <td>
            <h6 style="text-transform: uppercase;">
              {{ bitcoinWallet.balance }} {{ bitcoinWallet.currency }}
            </h6>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="ethereumWallet">
    <mat-card-title
      >{{ 'BALANCE' | translate }} - {{ 'ETHEREUM' | translate
      }}</mat-card-title
    >
    <mat-card-content>
      <table width="100%" cellspacing="0">
        <tr>
          <td>
            <h6 style="text-transform: uppercase;">
              {{ ethereumWallet.balance }} {{ ethereumWallet.currency }}
            </h6>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
