<div>
  <h1 *ngIf="!isAliasVisible()">{{ user.name }}</h1>
  <h1 *ngIf="isAliasVisible()">{{ user.alias }}</h1>

  <span *ngIf="user && user.avatar && user.avatar.length > 0">
    <img [src]="sanitizer.bypassSecurityTrustUrl(user.avatar)" />
  </span>
  <span *ngIf="!user || !user.avatar || user.avatar.length <= 0">
    <img src="/images/default-user.svg" class="app-images" />
  </span>

  <starbox [average]="user.average"> </starbox>
  <mat-icon matBadge="{{user.positive}}" matBadgeColor="green"
    >thumb_up</mat-icon
  >
  <mat-icon matBadge="{{ user.negative }}" matBadgeColor="red"
    >thumb_down</mat-icon
  >
  <p>
    <b>{{ 'DESCRIPTION' | translate }}:</b>
  </p>
  <p>{{ user.description }}</p>
  <p><b>{{ 'DISTANCE' | translate }}:</b> {{ getDistance() | distance }}</p>
  <span class="app-action">
    <button
      (click)="openMessage()"
      id="btnSend"
      mat-fab
      name="btnSend"
      type="submit"
      svgIcon="verified_user"
    >
      <mat-icon>email</mat-icon>
    </button>
  </span>
</div>
