<div mat-dialog-container>
  <h1 mat-dialog-title id="title" i18n>Review</h1>
  <div
    mat-dialog-actions
    *ngIf="review && review.type && review.type === 'thumbs'"
  >
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <button mat-mini-fab type="button" (click)="onThumbUpClick()">
            <mat-icon>thumb_up</mat-icon>
          </button>
        </td>
        <td>
          <button mat-mini-fab type="button" (click)="onThumbDownClick()">
            <mat-icon>thumb_down</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div
    mat-dialog-actions
    *ngIf="review && review.type && review.type === 'stars'"
  >
    <div *ngIf="review.value < 20">
      <mat-icon class="star" (click)="handleStarChange(20)"
        >star_border</mat-icon
      >
      <mat-icon class="star" (click)="handleStarChange(40)"
        >star_border</mat-icon
      >
      <mat-icon class="star" (click)="handleStarChange(60)"
        >star_border</mat-icon
      >
      <mat-icon class="star" (click)="handleStarChange(80)"
        >star_border</mat-icon
      >
      <mat-icon class="star" (click)="handleStarChange(100)"
        >star_border</mat-icon
      >
    </div>
    <div *ngIf="review.value >= 20 && review.value < 40">
      <mat-icon class="star" (click)="handleStarChange(20)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(40)"
        >star_border</mat-icon
      >
      <mat-icon class="star" (click)="handleStarChange(60)"
        >star_border</mat-icon
      >
      <mat-icon class="star" (click)="handleStarChange(80)"
        >star_border</mat-icon
      >
      <mat-icon class="star" (click)="handleStarChange(100)"
        >star_border</mat-icon
      >
    </div>
    <div *ngIf="review.value >= 40 && review.value < 60">
      <mat-icon class="star" (click)="handleStarChange(20)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(40)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(60)"
        >star_border</mat-icon
      >
      <mat-icon class="star" (click)="handleStarChange(80)"
        >star_border</mat-icon
      >
      <mat-icon class="star" (click)="handleStarChange(100)"
        >star_border</mat-icon
      >
    </div>
    <div *ngIf="review.value >= 60 && review.value < 80">
      <mat-icon class="star" (click)="handleStarChange(20)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(40)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(60)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(80)"
        >star_border</mat-icon
      >
      <mat-icon class="star" (click)="handleStarChange(100)"
        >star_border</mat-icon
      >
    </div>
    <div *ngIf="review.value >= 80 && review.value < 100">
      <mat-icon class="star" (click)="handleStarChange(20)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(40)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(60)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(80)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(100)"
        >star_border</mat-icon
      >
    </div>
    <div *ngIf="review.value == 100">
      <mat-icon class="star" (click)="handleStarChange(20)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(40)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(60)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(80)">star</mat-icon>
      <mat-icon class="star" (click)="handleStarChange(100)">star</mat-icon>
    </div>
  </div>
  <div
    mat-dialog-content
    *ngIf="review && review.type && review.type === 'comment'"
  >
    <textarea
      id="txtComment"
      name="txtComment"
      rows="4"
      cols="50"
      width="100%"
      [(ngModel)]="review.description"
    ></textarea>
  </div>
  <div
    mat-dialog-actions
    *ngIf="review && review.type && (review.type === 'stars' ||  review.type === 'comment')"
  >
    <button mat-mini-fab type="button" (click)="handleSaveClick()">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
