<!--Image cropper dialog-->
<div mat-dialog-container>
  <h1 mat-dialog-title id="title">{{ 'IMAGE' | translate }}</h1>
  <div mat-dialog-content style="overflow: hidden !important;">
    <div>
      <img-cropper
        #cropper
        [image]="imageObject"
        [settings]="cropperSettings"
      ></img-cropper>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{ 'File' | translate }}</mat-label>
        <input
          matInput
          type="file"
          id="imageFilePath"
          name="imageFilePath"
          accept="image/*"
          (change)="fileChangeListener($event)"
        />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <table>
      <tr>
        <td>
          <button mat-raised-button type="button" (click)="close()">
            {{ 'SAVE' | translate }}
          </button>
        </td>
        <td>
          <button mat-raised-button type="button" (click)="cancel()">
            {{ 'CANCEL' | translate }}
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
