<h1>{{ 'EVENT' | translate }}</h1>
<div *ngIf="event">   
     <!--Name-->
     <md-input-container>
            <input mdInput type="text" placeholder="{{ 'NAME' | translate }}" [(ngModel)]="event.name" />
        </md-input-container>
    <!--Decription-->
    <md-input-container>
        <input mdInput type="text" placeholder="{{ 'DESCRIPTION' | translate }}" [(ngModel)]="event.description" />
    </md-input-container>    
    <!--Start-->
    <md-input-container>
        <input mdInput [mdDatepicker]="startPicker" placeholder="{{ 'START' | translate }}" (change)="onStartTimeStampChange($event)"
            [(ngModel)]="startDate">
        <button mdSuffix [mdDatepickerToggle]="startPicker"></button>
    </md-input-container>
    <md-datepicker [startAt]="startDate" [min]="min" [max]="max" [(date)]="startDate" #startPicker></md-datepicker>
    <md-input-container>
        <input mdInput type="time" value="08:00" placeholder="{{ 'TIME' | translate }}" [(ngModel)]="startTime" (change)="onStartTimeStampChange($event)">
    </md-input-container>
    <!--End-->
    <md-input-container (change)="onEndTimeStampChange($event)">
        <input mdInput [mdDatepicker]="endPicker" placeholder="{{ 'END' | translate }}" (change)="onStartTimeStampChange($event)"
            [(ngModel)]="endDate">
        <button mdSuffix [mdDatepickerToggle]="endPicker"></button>
    </md-input-container>
    <md-datepicker [startAt]="endDate" [min]="min" [max]="max" [(date)]="endDate" #endPicker></md-datepicker>
    <md-input-container>
        <input mdInput type="time" value="09:00" placeholder="{{ 'TIME' | translate }}" [(ngModel)]="endTime" (change)="onEndTimeStampChange($event)">
    </md-input-container>
    <!--Daily, Weekly, Monthly-->
    <p>{{ 'REPEAT' | translate }}</p>
    <md-radio-group [(ngModel)]="event.type">
        <md-radio-button value="once" selected>{{ 'ONCE' | translate }}</md-radio-button>
        <md-radio-button value="day">{{ 'DAILY' | translate }}</md-radio-button>
        <md-radio-button value="week">{{ 'WEEKLY' | translate }}</md-radio-button>
        <md-radio-button value="month">{{ 'MONTHLY' | translate }}</md-radio-button>
        <md-radio-button value="year">{{ 'YEARLY' | translate }}</md-radio-button>
    </md-radio-group>
    <p>&nbsp;
        <!--space-->&nbsp;</p>
</div>