<!--header-->
<h1>{{ 'EVENT' | translate }}</h1>
<!--content-->
<div style="margin-left: 1vw">
	<p>{{ 'ID' | translate }} : {{ event.id }}</p>
	<div *ngFor="let user of event.users">
		<user-control-component [user]="user" [horizontal]="true"> </user-control-component>
	</div>
	<p>{{ 'NAME' | translate }} : {{ event.name }}</p>
	<p>{{ 'DESCRIPTION' | translate }} : {{ event.description }}</p>
	<p>{{ 'START' | translate }} : {{ getTimeStampText(event.startTimeStamp) }}</p>
	<p>{{ 'END' | translate }} : {{ getTimeStampText(event.endTimeStamp) }}</p>
</div>