<div (window:resize)="onScreenSizeChange()">
  <!--header-->
  <h1>{{ 'USERS' | translate }}</h1>
  <h2 *ngIf="showNoResults()" style="margin-left: 2vw;">
    {{ 'SEARCH_NO_RESULTS' | translate }}
  </h2>
  <!--items-->
  <mat-grid-list cols="{{columns}}" rowHeight="650px" gutterSize="10px">
    <mat-grid-tile *ngFor="let user of users">
      <mat-card>
        <mat-card-content>
          <div *ngIf="user && user.avatar && user.avatar.length > 0">
            <img
              mat-card-image
              [src]="sanitizer.bypassSecurityTrustUrl(user.avatar)"
              (click)="gotoUser(user)"
              style="max-width: 512px !important; max-height: 512px !important;"
            />
          </div>
          <div *ngIf="!user || !user.avatar || user.avatar.length == 0">
            <img
              mat-card-image
              src="/images/default-user.svg"
              (click)="gotoUser(user)"
              style="max-width: 512px !important; max-height: 512px !important;"
            />
          </div>
          <table cellspacing="0">
            <tr>
              <td style="text-align: left;">
                <h3 *ngIf="isAliasVisible()">{{ user.alias }}</h3>
                <h3 *ngIf="!isAliasVisible()">{{ user.name }}</h3>
              </td>
              <td style="text-align: center;"></td>
              <td style="text-align: right;">
                <b>
                  <mat-icon>location_on</mat-icon>&nbsp; {{ user.distance |
                  distancetokilometers }}</b
                >
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
