<div>
  <h1>{{ 'USERS' | translate }}</h1>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'AVATAR' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <img *ngIf="element.avatar.length == 0" src="/images/default.svg" />
        <img *ngIf="element.avatar.length !== 0" [src]="element.avatar" />
      </td>
    </ng-container>

    <ng-container matColumnDef="alias">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'ALIAS' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.alias}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'NAME' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'LATITUDE' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.latitude}}</td>
    </ng-container>

    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'LONGITUDE' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.longitude}}</td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'DISTANCE' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ getDistance(element.latitude,element.longitude)}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns;"
      (click)="gotoUser(row)"
    ></tr>
  </table>

  <mat-paginator
    #paginatorElement
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
