<div (window:resize)="onScreenSizeChange()">
	<!--header-->
	<h1>{{ 'USERS' | translate }}</h1>
	<h2 *ngIf="showNoResults()" style="margin-left: 2vw;">
		{{ 'SEARCH_NO_RESULTS' | translate }}
	</h2>
	<!--items-->
	<md-grid-list cols="{{columns}}" rowHeight="650px" gutterSize="10px">
		<md-grid-tile *ngFor="let user of users">
			<md-card>
				<md-card-content>
					<div *ngIf="user && user.avatar && user.avatar.length > 0">						
						<img md-card-image [src]="sanitizer.bypassSecurityTrustUrl(user.avatar)" (click)="gotoUser(user)" style="max-width:512px!Important;max-height:512px!Important;"
						/>
					</div>
					<div *ngIf="!user || !user.avatar || user.avatar.length == 0">					
						<img md-card-image src="/images/default-user.svg" (click)="gotoUser(user)" style="max-width:512px!Important;max-height:512px!Important;"
						/>
					</div>
					<table cellspacing="0">
						<tr>
							<td style="text-align:left">
								<h3 *ngIf="isAliasVisible()">{{ user.alias }}</h3>
								<h3 *ngIf="!isAliasVisible()">{{ user.name }}</h3>
							</td>
							<td style="text-align:center"></td>
							<td style="text-align:right">
								<b>
									<md-icon>location_on</md-icon>&nbsp; {{ getDistanceText(user) }}</b>
							</td>
						</tr>
					</table>
				</md-card-content>
			</md-card>
		</md-grid-tile>
	</md-grid-list>
</div>