<div>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>{{ 'MESSAGE' | translate }}</mat-label>
      <textarea
        formControlName="name"
        matInput
        minlength="1"
        maxlength="500"
        type="text"
      ></textarea>
      <mat-hint *ngIf="!formGroup.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <button
      (click)="send()"
      [disabled]="!formGroup.valid"
      mat-mini-fab
      type="submit"
    >
      <mat-icon>email</mat-icon>
    </button>
  </form>
</div>
