### Files ###
*.class
*.log
*.iws
*.iml
*.ipr
application-dev.properties
application-prod.properties
application-test.properties
application-stage.properties
docker.env
local.properties

### Folders ###
!gradle/wrapper/gradle-wrapper.jar
#!**/src/main/**
!**/src/test/**
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/bin
/.nb-gradle/
/src/test/
.apt_generated
.classpath
.factorypath
.gradle
.idea
.project
.settings
.springBeans
.sts4-cache
.vscode
build
node_modules
out