<div>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input
      matInput
      [formControl]="formControl"
      id="txtAddress"
      name="txtAddress"
      type="text"
      placeholder="Address"
      [value]="address"
      (blur)="onBlur($event)"
      autocomplete="off"
      #addressElement
    />
    <mat-hint
      *ngIf="required == true && location.description.length == 0"
      align="end"
    >Required</mat-hint>
  </mat-form-field>
  <br />

  <button
    mat-mini-fab
    id="btnAddress"
    name="btnAddress"
    (click)="getAddress()"
    class="full-width"
  >
    <mat-icon>search</mat-icon>
  </button>
</div>
