h1 {
  text-align: center;
}

input {
  text-transform: lowercase;
}

.mat-form-field {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 96vw;
}

.mat-fab {
  bottom: 2vh;
  position: fixed !important;
  right: 2vw;
}

#btnAddress {
  float: right;
  margin-left: 1vw;
  margin-right: 1vw;
}
