<div (window:resize)="onScreenSizeChange()">
  <!--header-->
  <h1>{{ 'ASSETS' | translate }}</h1>
  <h2 *ngIf="showNoResults()" style="margin-left: 2vw;">
    {{ 'SEARCH_NO_RESULTS' | translate }}
  </h2>
  <!--items-->
  <mat-grid-list cols="{{columns}}" rowHeight="750px" gutterSize="10px">
    <mat-grid-tile *ngFor="let asset of assets">
      <mat-card>
        <div *ngIf="!isImageEmpty(asset)">
          <img
            mat-card-image
            [src]="sanitizer.bypassSecurityTrustUrl(asset.images[0].uri)"
            (click)="gotoAsset(asset)"
          />
        </div>
        <div *ngIf="isImageEmpty(asset)">
          <img
            mat-card-image
            src="/images/default.svg"
            (click)="gotoAsset(asset)"
          />
        </div>
        <div>
          <review-control [reviews]="asset.reviews"> </review-control>
        </div>
        <table cellspacing="0">
          <tr>
            <td style="text-align: left;">
              <h2>{{ asset.title }}</h2>
            </td>
            <td style="text-align: center;"></td>
            <td style="text-align: right;"></td>
          </tr>
          <tr>
            <td style="text-align: left;">
              <b>
                {{ asset.currency | currencycodetosymbol }} {{
                convertValuePlusMargin(asset) }}</b
              >
            </td>
            <td style="text-align: center;"></td>
            <td style="text-align: right;">
              <b>
                <mat-icon>location_on</mat-icon>&nbsp; {{ asset.distance |
                distancetokilometers }}</b
              >
            </td>
          </tr>
        </table>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
