.mat-fab {
  position: fixed !important;
  right: 2vw;
  bottom: 2vh;
}

.mat-icon {
  align-items:center;
}

h1 {
  text-align: center;
}

table {
  padding-left: 2vw;
  padding-right: 2vw;
  width: 100%;
}
