<div (window:resize)="onScreenSizeChange()">
  <!--header-->
  <h1>{{ 'REVIEWS' | translate }}</h1>
  <h2 *ngIf="showNoResults()" style="margin-left: 2vw;">
    {{ 'SEARCH_NO_RESULTS' | translate }}
  </h2>
  <!--items-->
  <mat-grid-list cols="{{columns}}" rowHeight="750px">
    <mat-grid-tile *ngFor="let review of reviews">
      <mat-card>
        <table width="100%" cellspacing="0">
          <tr>
            <div *ngIf="review.value < 20">
              <mat-icon class="star">star_border</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
            </div>
            <div *ngIf="review.value >= 20 && review.value < 40">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
            </div>
            <div *ngIf="review.value >= 40 && review.value < 60">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
            </div>
            <div *ngIf="review.value >= 60 && review.value < 80">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
            </div>
            <div *ngIf="review.value >= 80 && review.value < 100">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star_border</mat-icon>
            </div>
            <div *ngIf="getReviewAverage(review) == 100">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </div>
          </tr>
          <tr>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: right;">
              <a
                mat-icon-button
                [routerLink]="['/review/read', review]"
                class="app-view-button"
              >
                <mat-icon>find_in_page</mat-icon>
              </a>
            </td>
          </tr>
        </table>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
