<div (window:resize)="onScreenSizeChange()">
    <!--header-->
    <h1> {{ 'REVIEWS' | translate }} </h1>
    <h2 *ngIf="showNoResults()" style="margin-left: 2vw;">
        {{ 'SEARCH_NO_RESULTS' | translate }}
    </h2>
    <!--items-->
    <md-grid-list cols="{{columns}}" rowHeight="750px">
        <md-grid-tile *ngFor="let review of reviews">
            <md-card>
                <table width="100%" cellspacing="0">
                    <tr>
                        <div *ngIf="review.value < 20">
                            <md-icon class="star">star_border</md-icon>
                            <md-icon class="star">star_border</md-icon>
                            <md-icon class="star">star_border</md-icon>
                            <md-icon class="star">star_border</md-icon>
                            <md-icon class="star">star_border</md-icon>
                        </div>
                        <div *ngIf="review.value >= 20 && review.value < 40">
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star_border</md-icon>
                            <md-icon class="star">star_border</md-icon>
                            <md-icon class="star">star_border</md-icon>
                            <md-icon class="star">star_border</md-icon>
                        </div>
                        <div *ngIf="review.value >= 40 && review.value < 60">
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star_border</md-icon>
                            <md-icon class="star">star_border</md-icon>
                            <md-icon class="star">star_border</md-icon>
                        </div>
                        <div *ngIf="review.value >= 60 && review.value < 80">
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star_border</md-icon>
                            <md-icon class="star">star_border</md-icon>
                        </div>
                        <div *ngIf="review.value >= 80 && review.value < 100">
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star_border</md-icon>
                        </div>
                        <div *ngIf="getReviewAverage(review) == 100">
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star</md-icon>
                            <md-icon class="star">star</md-icon>
                        </div>
                    </tr>
                    <tr>
                        <td style="text-align:center"> </td>
                        <td style="text-align:center"> </td>
                        <td style="text-align:right">
                            <a md-icon-button [routerLink]="['/review/read', review]" class="app-view-button">
                                <md-icon>find_in_page</md-icon>
                            </a>
                        </td>
                    </tr>
                </table>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>