@if(user) {
<mat-nav-list>
  <mat-list-item mat-line (click)="gotoUser(user)">
    @if(hasImage()){
    <div>
      @if(round){
      <img [src]="sanitizer.bypassSecurityTrustUrl(user.avatar)" class="round" />
      } @else(){
      <img mat-list-avatar [src]="sanitizer.bypassSecurityTrustUrl(user.avatar)" />
      }
    </div>
    }
    @else {
    <div>
      @if(round){
      <img mat-list-avatar src="/images/ic_account_box_black_24px.svg" class="round" />
      } @else{
      <img mat-list-avatar src="/images/ic_account_box_black_24px.svg" />
      }
    </div>
    <div>
      @if(hasAlias()){
      <h2>&nbsp; {{ user.alias }}</h2>
      }
      @if(hasName()){
      <h2>&nbsp; {{ user.name }}</h2>
      }
    </div>
    }
  </mat-list-item>
</mat-nav-list>
}