<div *ngIf="transaction && transaction.asset">
  <h1>
    {{ transaction.asset.name }}

    <span class="right"
      >{{ transaction.currency | codetosymbol }} {{ transaction.value }}</span
    >
    <span class="right">{{ transaction.asset!.distance! | distance }} </span>
  </h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>emoji_events</mat-icon>
      </ng-template>
      <span *ngIf="transaction.asset.firstImage">
        <img
          [src]="sanitizer.bypassSecurityTrustUrl(transaction.asset.firstImage)"
        />
      </span>
      <span
        *ngIf="!transaction || !transaction.asset || !transaction.asset.firstImage"
      >
        <img src="/images/default.svg" />
      </span>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>local_fire_department</mat-icon>
      </ng-template>
      <span *ngIf="transaction.asset.secondImage">
        <img
          [src]="sanitizer.bypassSecurityTrustUrl(transaction.asset.secondImage)"
          class="app-images"
        />
      </span>
      <span *ngIf="!transaction.asset.secondImage">
        <img src="/images/default.svg" />
      </span>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>photo_camera</mat-icon>
      </ng-template>
      <span *ngIf="transaction.asset.thirdImage">
        <img
          [src]="sanitizer.bypassSecurityTrustUrl(transaction.asset.thirdImage)"
        />
      </span>
      <span *ngIf="!transaction.asset.thirdImage">
        <img src="/images/default.svg" />
      </span>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>add_a_photo</mat-icon>
      </ng-template>
      <span *ngIf="transaction.asset.fourthImage">
        <img
          [src]="sanitizer.bypassSecurityTrustUrl(transaction.asset.fourthImage)"
        />
      </span>
      <span *ngIf="!transaction.asset.fourthImage">
        <img src="/images/default.svg" />
      </span>
    </mat-tab>
  </mat-tab-group>

  <p>{{ transaction.asset.description }}</p>

  <starbox [average]="transaction.asset.average"> </starbox>

  <div class="tagview">
    <tagview [tags]="transaction.asset.tags"></tagview>
  </div>

  <userbox [textVisible]="true" [user]="transaction.seller"></userbox>

  <button mat-mini-fab (click)="handleFileDownloadEvent()">
    <mat-icon>file_download</mat-icon>
  </button>

  <button mat-mini-fab (click)="openMessage()">
    <mat-icon>email</mat-icon>
  </button>

  <button mat-mini-fab (click)="openMobileDialog()">
    <mat-icon>phone</mat-icon>
  </button>

  <button
    mat-mini-fab
    (click)="openTransactionDialog()"
    *ngIf="isTransactionVisible()"
  >
    <mat-icon>credit_card</mat-icon>
  </button>

</div>
