<div *ngIf="transaction && transaction.asset">
  <h1>
    {{ transaction.asset.name }}

    <span class="right">{{ transaction.currency | codetosymbol }} {{ transaction.value }}</span>
    <span class="right">{{ transaction.asset!.distance! | distance }} </span>
  </h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>emoji_events</mat-icon>
      </ng-template>
      <span *ngIf="transaction.asset.firstImage">
        <img [src]="sanitizer.bypassSecurityTrustUrl(transaction.asset.firstImage)" />
      </span>
      @if(!transaction || !transaction.asset || !transaction.asset.firstImage){
      <span>
        <img src="/images/default.svg" />
      </span>
      }

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>local_fire_department</mat-icon>
      </ng-template>
      @if(transaction.asset.secondImage){
      <span>
        <img [src]="sanitizer.bypassSecurityTrustUrl(transaction.asset.secondImage)" class="app-images" />
      </span>
      }

      @if(!transaction.asset.secondImage){
      <span>
        <img src="/images/default.svg" />
      </span>
      }

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>photo_camera</mat-icon>
      </ng-template>

      @if(transaction.asset.thirdImage){
      <span>
        <img [src]="sanitizer.bypassSecurityTrustUrl(transaction.asset.thirdImage)" />
      </span>
      }

      @if(!transaction.asset.thirdImage){
      <span>
        <img src="/images/default.svg" />
      </span>
      }
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>add_a_photo</mat-icon>
      </ng-template>

      @if(transaction.asset.fourthImage){
      <span>
        <img [src]="sanitizer.bypassSecurityTrustUrl(transaction.asset.fourthImage)" />
      </span>
      }

      @if(!transaction.asset.fourthImage){
      <span>
        <img src="/images/default.svg" />
      </span>
      }
    </mat-tab>
  </mat-tab-group>

  <p>{{ transaction.asset.description }}</p>

  <starbox [average]="transaction.asset.average"> </starbox>

  <div class="tagview">
    <tagview [tags]="transaction.asset.tags"></tagview>
  </div>

  <userbox [textVisible]="true" [user]="transaction.seller"></userbox>

  <button mat-mini-fab (click)="handleFileDownloadEvent()">
    <mat-icon>file_download</mat-icon>
  </button>

  <button mat-mini-fab (click)="openMessage()">
    <mat-icon>email</mat-icon>
  </button>

  <button mat-mini-fab (click)="openMobileDialog()">
    <mat-icon>phone</mat-icon>
  </button>

  @if(isTransactionVisible()){
  <button mat-mini-fab (click)="openTransactionDialog()">
    <mat-icon>credit_card</mat-icon>
  </button>
  }
</div>