<!--header-->
<h1>{{ 'ASSET' | translate }}</h1>
<!--images-->
<mat-card>
  <mat-card-content>
    <!--Image One-->
    <span *ngIf="isImageEmpty(0)">
      <img
        [src]="sanitizer.bypassSecurityTrustUrl(asset.images[0].uri)"
        class="app-images"
      />
    </span>
    <span *ngIf="!isImageEmpty(0)">
      <img src="/images/default.svg" class="app-images" />
    </span>
    <!--Image Two-->
    <span *ngIf="isImageEmpty(1)">
      <img
        [src]="sanitizer.bypassSecurityTrustUrl(asset.images[1].uri)"
        class="app-images"
      />
    </span>
    <span *ngIf="!isImageEmpty(1)">
      <img src="/images/default.svg" class="app-images" />
    </span>
    <!--Image Three-->
    <span *ngIf="isImageEmpty(2)">
      <img
        [src]="sanitizer.bypassSecurityTrustUrl(asset.images[2].uri)"
        class="app-images"
      />
    </span>
    <span *ngIf="!isImageEmpty(2)">
      <img src="/images/default.svg" class="app-images" />
    </span>
    <!--Image Four-->
    <span *ngIf="isImageEmpty(3)">
      <img
        [src]="sanitizer.bypassSecurityTrustUrl(asset.images[3].uri)"
        class="app-images"
      />
    </span>
    <span *ngIf="!isImageEmpty(3)">
      <img src="/images/default.svg" class="app-images" />
    </span>
  </mat-card-content>
  <mat-card-title>
    <table width="100%" cellspacing="0">
      <tr>
        <td>
          <h3 style="float: left;">{{ asset.title }}</h3>
        </td>
        <td>
          <h4 style="float: right;">
            {{ getDistanceText() }}
            <img src="/images/ic_place_black_24dp.png" />
          </h4>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <h4 style="float: right;">
            {{ getCurrencySymbol() }} {{ asset.value }}
          </h4>
        </td>
      </tr>
    </table>
  </mat-card-title>
</mat-card>
<!--Description-->
<mat-card>
  <mat-card-title>{{ 'DESCRIPTION' | translate }}</mat-card-title>
  <mat-card-content>{{ asset.description }}</mat-card-content>
</mat-card>
<!--File-->
<mat-card *ngIf="isFileVisible()">
  <mat-card-title>{{ 'FILE' | translate }}</mat-card-title>
  <mat-card-content>
    <button
      mat-raised-button
      (click)="handleFileDownloadEvent()"
      class="full-width"
    >
      <mat-icon>file_download</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<!--Reviews-->
<mat-card>
  <mat-card-title>{{ 'REVIEWS' | translate }}</mat-card-title>
  <mat-card-content>
    <review-star-control [reviews]="asset.reviews"> </review-star-control>
  </mat-card-content>
</mat-card>
<!--Tags-->
<mat-card>
  <mat-card-title>{{ 'TAGS' | translate }}</mat-card-title>
  <mat-card-content>
    <tag-control-component
      [selectedTags]="asset.tags"
      [readOnly]="true"
    ></tag-control-component>
  </mat-card-content>
</mat-card>
<!--User-->
<mat-card>
  <mat-card-title>{{ 'USER' | translate }}</mat-card-title>
  <mat-card-content>
    <user-control-component
      [user]="asset.user"
      [horizontal]="false"
      [reviews]="true"
    ></user-control-component>
  </mat-card-content>
</mat-card>
<!--Buttons-->
<mat-card>
  <mat-card-content *ngIf="permission">
    <button mat-mini-fab type="button" (click)="openMessageDialog()">
      <mat-icon>email</mat-icon>
    </button>
    <button mat-mini-fab type="button" (click)="openMobileDialog()">
      <mat-icon>phone</mat-icon>
    </button>
    <button
      mat-mini-fab
      type="button"
      (click)="openTransactionDialog()"
      *ngIf="isTransactionVisible()"
    >
      <mat-icon>credit_card</mat-icon>
    </button>
    <!--Needs to be moved to transactions-->
    <button mat-mini-fab type="button" (click)="openReviewDialog()">
      <mat-icon>star</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
