<!--header-->
<h1>{{ 'TRANSACTION' | translate }}</h1>
<!--content-->
<div style="margin-left: 1vw">
	<p>{{ 'ID' | translate }} : {{ transaction.id }}</p>
	<p>{{ 'NAME' | translate }} : {{ transaction.name }}</p>
	<p>{{ 'VALUE' | translate }} : {{ transaction.itemValue }} {{ getCurrencySymbol(transaction.currency) }}</p>
	<p>{{ 'QUANTITY' | translate }} : {{ transaction.quantity }}</p>
	<p>{{ 'TOTAL' | translate }} : 
			<span *ngIf="isAuthBuyer()" class="color-red">{{ -1*transaction.total }} {{ getCurrencySymbol(transaction.currency) }}</span>
			<span *ngIf="isAuthSeller()" class="color-green">{{ transaction.total }} {{ getCurrencySymbol(transaction.currency) }}</span>
	</p>
	<p>{{ 'START' | translate }} : {{ getTimeStampText(transaction.startTimeStamp) }}</p>
	<p>{{ 'END' | translate }} : {{ getTimeStampText(transaction.endTimeStamp) }}</p>
	<p>{{ 'STATE' | translate }} : 
			<span *ngIf="isQuote()" class="color-red">{{ 'QUOTE' | translate }} </span>
			<span *ngIf="isInvoice()" class="color-orange">{{ 'INVOICE' | translate }} </span>
			<span *ngIf="isReceipt()" class="color-green">{{ 'RECEIPT' | translate }} </span>
	</p>	
</div>