<!--header-->
<h1 i18n>Translation</h1>
<!--content-->
<div style="margin-left: 1vw;">
  <p><span i18n>Id</span> : {{ transaction.id }}</p>
  <p><span i18n>Reference</span> : {{ transaction.reference }}</p>
  <p><span i18n>Value</span> : {{ transaction.value }} {{ transaction.currency
    | codetosymbol }}
  </p>
  <p><span i18n>Quantity</span> : {{ transaction.quantity }}</p>
  <p><span i18n>Total</span>
    @if(isAuthBuyer()) {
    <span class="color-red">{{ -1*transaction.total }} {{ transaction.currency | codetosymbol
      }}</span>
    }
    @if(isAuthSeller()) {
    <span class="color-green">{{ transaction.total }} {{ transaction.currency | codetosymbol
      }}</span>
    }
  </p>
  <p><span i18n>Start</span> : {{ transaction.start }}
  </p>
  <p><span i18n>End</span> : {{ transaction.end }}</p>
  <p>
    <span i18n>State</span> :
    @if(isQuote()) {
    <span class="color-red" i18n>Quote</span>
    }
    @if(isInvoice()) {
    <span class="color-orange" i18n>Invoice
    </span>
    }
    @if(isReceipt()) {
    <span class="color-green" i18n>Receipt
    </span>
    }
  </p>
</div>