b {
  font-family: sans-serif;
  font-weight: 400;
  font-size: small;
  color: grey;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

button {
  margin-left: 2vw;
  margin-bottom: 2vw;
  float: right; 
}



mat-form-field {
  padding-left: 0vw !important;
  padding-right: 0vw !important;
  width: 92vw !important;
}



mat-progress-spinner {
  margin: 0 auto;
}
