<div mat-dialog-container>
  <h1 mat-dialog-title id="title" i18n>Transaction</h1>
  <div mat-dialog-content style="overflow: hidden !important;">
    <!--Name-->
    <mat-input-container style="width: 95% !important;">
      <input
        matInput
        id="name"
        name="name"
        type="text"
        placeholder="Description"
        [(ngModel)]="transaction.description"
        readonly
      />
    </mat-input-container>
    <!--value-->
    <mat-input-container style="width: 95% !important;">
      <input
        matInput
        type="number"
        placeholder="Value"
        [(ngModel)]="transaction.value"
        readonly
      />
    </mat-input-container>
    <!--quantity-->
    <mat-input-container style="width: 95% !important;">
      <input
        matInput
        type="number"
        placeholder="Quantity"
        [(ngModel)]="transaction.quantity"
        (change)="onQuantityChange()"
      />
    </mat-input-container>
    <!--total-->
    <mat-input-container style="width: 95% !important;">
      <input
        matInput
        type="number"
        placeholder="Total"
        [(ngModel)]="transaction.total"
        readonly
      />
    </mat-input-container>

    <currency-field formControlName="currency"> </currency-field>
  </div>
  <div mat-dialog-actions>
    <table>
      <tr>
        <td>
          <button mat-raised-button type="button" (click)="save()" i18n>Purchase</button>
        </td>
        <td>
          <button mat-raised-button type="button" (click)="cancel()" i18n>Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</div>
