<div mat-dialog-container>
  <h1 mat-dialog-title id="title">{{ 'TRANSACTION' | translate }}</h1>
  <div mat-dialog-content style="overflow: hidden !important;">
    <!--Name-->
    <mat-input-container style="width: 95% !important;">
      <input
        matInput
        id="name"
        name="name"
        type="text"
        placeholder="{{ 'DESCRIPTION' | translate }}"
        [(ngModel)]="transaction.description"
        readonly
      />
    </mat-input-container>
    <!--value-->
    <mat-input-container style="width: 95% !important;">
      <input
        matInput
        type="number"
        placeholder="{{ 'VALUE' | translate }}"
        [(ngModel)]="transaction.value"
        readonly
      />
    </mat-input-container>
    <!--quantity-->
    <mat-input-container style="width: 95% !important;">
      <input
        matInput
        type="number"
        placeholder="{{ 'QUANTITY' | translate }}"
        [(ngModel)]="transaction.quantity"
        (change)="onQuantityChange()"
      />
    </mat-input-container>
    <!--total-->
    <mat-input-container style="width: 95% !important;">
      <input
        matInput
        type="number"
        placeholder="{{ 'TOTAL' | translate }}"
        [(ngModel)]="transaction.total"
        readonly
      />
    </mat-input-container>
    <!--Currency-->
    <mat-select
      value="eur"
      placeholder="{{ 'CURRENCY' | translate }}"
      [(ngModel)]="transaction.currency"
      style="width: 95% !important;"
      readonly
    >
      <mat-option value="gbp">£</mat-option>
      <mat-option value="eur" selected>€</mat-option>
      <mat-option value="usd">$</mat-option>
      <mat-option value="zar">R</mat-option>
      <mat-option value="btc">฿</mat-option>
    </mat-select>
  </div>
  <div mat-dialog-actions>
    <table>
      <tr>
        <td>
          <button mat-raised-button type="button" (click)="create()">
            {{ 'PURCHASE' | translate }}
          </button>
        </td>
        <td>
          <button mat-raised-button type="button" (click)="cancel()">
            {{ 'CANCEL' | translate }}
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
