<h1>{{ 'REVIEW' | translate }}</h1>
<table class="full-width" cellspacing="0">
  <tr>
    <td>
      <button mat-mini-fab type="button" (click)="thumbUp()">
        <mat-icon>thumb_up</mat-icon>
      </button>
    </td>
    <td>
      <button mat-mini-fab type="button" (click)="thumbDown()">
        <mat-icon>thumb_down</mat-icon>
      </button>
    </td>
  </tr>
</table>
<textarea
  id="txtComment"
  name="txtComment"
  rows="4"
  cols="50"
  width="100%"
  [(ngModel)]="review.comment"
></textarea>
