<!--No form due to need for real time changes to address field-->
<h1 style="margin-left: 1% !important;">{{ 'SEARCH_PRODUCTS' | translate }}</h1>
<div class="app-search-form">
  <div id="frmQuery">
    <!--Range-->
    <mat-slider min="1" max="25" step="1" [(ngModel)]="search.radius">
    </mat-slider>
    <b>{{search.radius}} km</b>
    <!--Tags-->
    <tag-control-component
      (tagUpdated)="handleTagUpdated($event)"
      [selectedTags]="search.tags"
      [readOnly]="false"
    ></tag-control-component>
    <!--Min-->
    <mat-input-container class="full-width">
      <input
        matInput
        id="min"
        name="min"
        type="number"
        style="width: 48vw !important;"
        placeholder="{{ 'MIN' | translate }}"
        min="0"
        max="5000"
        [(ngModel)]="search.min"
      />
    </mat-input-container>
    <!--Max-->
    <mat-input-container class="full-width">
      <input
        matInput
        id="max"
        name="max"
        type="number"
        style="width: 48vw !important;"
        placeholder="{{ 'MAX' | translate }}"
        min="0"
        max="5000"
        [(ngModel)]="search.max"
      />
    </mat-input-container>
    <!--currency-->
    <mat-select
      id="currency"
      name="currency"
      value="eur"
      placeholder="{{ 'CURRENCY' | translate }}"
      [(ngModel)]="search.currency"
    >
      <mat-option *ngIf="hasBitcoin()" value="btc">฿</mat-option>
      <mat-option *ngIf="hasEthereum()" value="eth">Ξ</mat-option>
      <mat-option value="gbp">£</mat-option>
      <mat-option value="eur" selected>€</mat-option>
      <mat-option value="usd">$</mat-option>
      <mat-option value="zar">R</mat-option>
    </mat-select>
    <!--Address-->
    <address-control-component
      class="full-width"
      [required]="true"
      [positionButton]="true"
      (updateAddress)="onUpdateAddress($event)"
      (updatePosition)="onUpdatePosition($event)"
    >
    </address-control-component>
    <!--Search button-->

    <!--button mat-fab id="btnSearch" name="btnSearch" type="submit" (click)="findAssets()"><mat-icon>search</mat-icon></button-->
    <!--Progress bar-->
    <div *ngIf="(searching == true)" alien="centre">
      <mat-progress-spinner
        mode="indeterminate"
        color="accent"
        style="margin: 0 auto;"
      ></mat-progress-spinner>
    </div>
  </div>
</div>
