<h1 style="margin-left: 1% !important;">{{ 'SEARCH_MEMBERS' | translate }}</h1>
<div class="app-search-form">
  <form [formGroup]="form" novalidate (submit)="findUsers()">
    <!--Alias-->
    <mat-input-container *ngIf="isAliasVisible()">
      <input
        matInput
        id="alias"
        name="alias"
        type="text"
        formControlName="alias"
        placeholder="{{ 'ALIAS' | translate }}"
        [(ngModel)]="search.alias"
      />
      <mat-hint *ngIf="!form.controls.alias.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-input-container>
    <!--Name-->
    <mat-input-container *ngIf="isNameVisible()">
      <input
        matInput
        id="name"
        name="name"
        type="text"
        formControlName="name"
        placeholder="{{ 'NAME' | translate }}"
        [(ngModel)]="search.name"
      />
      <mat-hint *ngIf="!form.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-input-container>
    <!--Progress bar-->
    <div *ngIf="(searching == true)" alien="centre">
      <mat-progress-spinner
        mode="indeterminate"
        color="accent"
        style="margin: 0 auto;"
      ></mat-progress-spinner>
    </div>
  </form>
</div>
