<div>
  <mat-nav-list class="frm-button">
    <mat-list-item *ngFor="let wallet of wallets">
      <mat-card>
        <mat-card-content>
          <!--div *ngIf="isImageEmpty(wallet)">
            <qr-code
              [value]="wallet.account"
              [size]="150"
              (click)="gotoWallet(wallet)"
            ></qr-code>
          </div>
          <div *ngIf="!isEmpty(wallet)">
            <img
              mat-card-image
              src="/images/default.svg"
              (click)="gotoWallet(wallet)"
              style="max-width: 512px !important; max-height: 512px !important;"
            />
          </div-->
          <table cellspacing="0">
            <tr>
              <td style="text-align: left;">
                <h3>{{ wallet.balance }}</h3>
              </td>
              <td style="text-align: right;">
                <h2>{{ wallet.currency | codetosymbol}}</h2>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </mat-nav-list>
  <br />
</div>
