<div (window:resize)="onScreenSizeChange()">
  @if(showNoResults()){
  <h2 style="margin-left: 2vw;">No Results</h2>
  }
  <!--items-->
  <mat-grid-list cols="{{columns}}" rowHeight="750px" gutterSize="10px">
    @for (transaction of transactions; track transaction.id){
    <mat-grid-tile>
      <mat-card>

        <div>
          <review-control [reviews]="transaction.grade"> </review-control>
        </div>
        <Span>
          {{transaction.start}}
        </Span>

        <Span>
          {{transaction.total}}
        </Span>
        <Span>
          {{transaction.end}}
        </Span>

      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>