<div (window:resize)="onScreenSizeChange()"> 
  <h2 *ngIf="showNoResults()" style="margin-left: 2vw;">No Results</h2>
  <!--items-->
  <mat-grid-list cols="{{columns}}" rowHeight="750px" gutterSize="10px">
    <mat-grid-tile *ngFor="let transaction of transactions">
      <mat-card>
       
        <div>
          <review-control [reviews]="transaction.grade"> </review-control>
        </div>
        <Span>
          {{transaction.start}}
        </Span>

        <Span>
          {{transaction.total}}
        </Span>
        <Span>
          {{transaction.end}}
        </Span>
        
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
