<div (window:resize)="onScreenSizeChange()">
  <!--header-->
  <h1>
    <div *ngIf="!showNoResults()">
      {{ 'TRANSACTIONS' | translate }}
    </div>
    <div *ngIf="showNoResults()">
      {{ 'TRANSACTIONS' | translate }}
      <p>{{ 'SEARCH_NO_RESULTS' | translate }}</p>
    </div>
  </h1>
  <!--items-->
  <mat-grid-list cols="{{columns}}" rowHeight="400px" gutterSize="10px">
    <mat-grid-tile *ngFor="let transaction of transactions">
      <mat-card>
        <mat-card-content>
          <user-control-component
            [user]="transaction.buyer"
            [horizontal]="false"
          >
          </user-control-component>
          <user-control-component
            [user]="transaction.seller"
            [horizontal]="false"
          >
          </user-control-component>
          <p>{{ 'NAME' | translate }} : {{ transaction.name }}</p>
          <p>
            {{ 'TOTAL' | translate }} :
            <span *ngIf="isBuyer(transaction)" class="color-red"
              >{{ -1*transaction.totalValue }} {{ transaction.currency |
              currencycodetosymbol }}</span
            >
            <span *ngIf="isSeller(transaction)" class="color-green"
              >{{ transaction.totalValue }} {{ transaction.currency |
              currencycodetosymbol }}</span
            >
          </p>
          <p>
            {{ 'STATE' | translate }} :
            <span *ngIf="isQuote(transaction)" class="color-red"
              >{{ 'QUOTE' | translate }}
            </span>
            <span *ngIf="isInvoice(transaction)" class="color-orange"
              >{{ 'INVOICE' | translate }}
            </span>
            <span *ngIf="isReceipt(transaction)" class="color-green"
              >{{ 'RECIEPT' | translate }}
            </span>
          </p>
          <p>
            {{ 'START' | translate }} : {{
            getDateTimeString(transaction.startTimeStamp) }}
          </p>
          <p *ngIf="isReceipt(transaction)">
            {{ 'END' | translate }} : {{
            getDateTimeString(transaction.endTimeStamp) }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            (click)="gotoTransactionUpdate(transaction)"
            style="float: right; width: 100%;"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
