button {
  float: right;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vh;
}

h1 {
  text-align: center;
}

input {
  text-transform: lowercase;
}

mat-fab {
  bottom: 2vh;
  position: fixed !important;
  right: 2vw;
}

mat-form-field {
  width: 100%;
}
