h1 {
  text-align: center;
}

.mat-form-field {
  padding-left: 2vw;
  padding-right: 2vw;
  width: 96vw;
}

.mat-slider {
  margin-left: 1.5vw;
  padding-right: 2vw;
  width: 94vw;
}

.mat-fab {
  position: fixed !important;
  right: 2vw;
  bottom: 0vh;
}

.mat-progress-spinner {
  margin: 0 auto;
}

#btnSearch {
  margin-left: 2vw;
  margin-bottom: 2vw;
  float: right;
}
