<div>
  <h1 *ngIf="search.type === 'product'">{{ 'SEARCH_PRODUCTS' | translate }}</h1>
  <h1 *ngIf="search.type === 'service'">{{ 'SEARCH_SERVICES' | translate }}</h1>
  <form [formGroup]="formGroup">
    <mat-slider
      formControlName="radius"
      min="1"
      max="100"
      step="1"
      (change)="radiusChange($event)"
    >
    </mat-slider>
    <b>
      {{search.radius}} / 100 <span *ngIf="metric === true"> Km</span>
      <span *ngIf="metric === false"> Mi</span></b
    >

    <tagbox
      formControlName="tags"
      [removable]="true"
      [selectable]="true"
    ></tagbox>

    <mat-form-field>
      <mat-label>{{ 'MIN' | translate }}</mat-label>
      <input
        matInput
        id="min"
        name="min"
        formControlName="min"
        type="number"
        minlength="1"
        required
        value="0"
        placeholder="{{ 'MIN' | translate }}"
        min="0"
        max="5000"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'MAX' | translate }}</mat-label>
      <input
        matInput
        id="max"
        formControlName="max"
        name="max"
        type="number"
        minlength="1"
        required
        value="5000"
        placeholder="{{ 'MAX' | translate }}"
        min="0"
        max="5000"
      />
    </mat-form-field>

    <currencybox formControlName="currency"> </currencybox>

    <periodbox *ngIf="search.type === 'service'" formControlName="period">
    </periodbox>

    <span class="app-action">
      <button
        (click)="find()"
        [disabled]="!formGroup.valid"
        id="btnSearch"
        mat-fab
        name="btnSearch"
        svgIcon="search"
        type="submit"
      >
        <mat-icon>search</mat-icon>
      </button>
    </span>
  </form>
  <div *ngIf="(busy == true)" alien="centre">
    <mat-progress-spinner
      mode="indeterminate"
      color="accent"
      style="margin: 0 auto;"
    ></mat-progress-spinner>
  </div>
</div>
