b {
  font-family: sans-serif;
  font-weight: 400;
  font-size: small;
  color: grey;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
}

.mat-form-field {
  padding-left: 2vw;
  padding-right: 2vw;
  width: 96vw;
}

.mat-slider {
  margin-left: 1.5vw;
  padding-right: 2vw;
  width: 92vw;
}

.mat-fab {
  position: fixed !important;
  right: 2vw;
  bottom: 0vh;
}

.mat-progress-spinner {
  margin: 0 auto;
}

#btnSearch {
  margin-left: 2vw;
  margin-bottom: 2vw;
  float: right;
}
