### Files ###
*.class
*.crt
*.iws
*.iml
*.ipr
*.pem
*.log

### Folders ###
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
.apt_generated
.classpath
.factorypath
.gradle
.idea
.project
.settings
.springBeans
.sts4-cache
.vscode
.angular/cache
build
out
package-lock.json

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
/.scannerwork
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/typings

# System Files
.DS_Store
Thumbs.db
environment.dev.ts
environment.local.ts
environment.prod.ts
environment.stage.ts
environment.test.ts