<md-tab-group [dynamicHeight]="true" [selectedIndex]="selectedIndex" md-stretch-tabs="always" class="app-component-filler"
    (selectedIndexChange)="tagIndexChange($event)">
    <!--form-->
    <md-tab label="{{ 'MONTH' | translate }}">
        <!--Month-->
        <div class="calendar">
            <h3>{{ getViewDate() }}</h3>
            <button md-raised-button (click)="previous()">{{ 'PREVIOUS' | translate }}</button>
            <button md-raised-button (click)="today()">{{ 'TODAY' | translate }}</button>
            <button md-raised-button (click)="next()">{{ 'NEXT' | translate }}</button>
            <p> </p>
            <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
                (eventClicked)="eventClicked('Clicked', $event.event)"> </mwl-calendar-month-view>
        </div>
    </md-tab>
    <md-tab label="{{ 'DAY' | translate }}">
        <!--Day-->
        <div class="calendar">
            <h3>{{ getViewDate() }}</h3>
            <mwl-calendar-day-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" day-view-start="06:00" day-view-end="22:59"
                day-view-split="30" (eventTimesChanged)="timeClicked($event)"></mwl-calendar-day-view>
        </div>
    </md-tab>
</md-tab-group>