<mat-tab-group
  [dynamicHeight]="true"
  [selectedIndex]="selectedIndex"
  mat-stretch-tabs="always"
  class="app-component-filler"
  (selectedIndexChange)="tagIndexChange($event)"
>
  <!--form-->
  <mat-tab label="{{ 'MONTH' | translate }}">
    <!--Month-->
    <div class="calendar">
      <h3>{{ getViewDate() }}</h3>
      <button mat-raised-button (click)="previous()">
        {{ 'PREVIOUS' | translate }}
      </button>
      <button mat-raised-button (click)="today()">
        {{ 'TODAY' | translate }}
      </button>
      <button mat-raised-button (click)="next()">
        {{ 'NEXT' | translate }}
      </button>
      <p></p>
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="eventClicked('Clicked', $event.event)"
      >
      </mwl-calendar-month-view>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'DAY' | translate }}">
    <!--Day-->
    <div class="calendar">
      <h3>{{ getViewDate() }}</h3>
      <mwl-calendar-day-view
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        day-view-start="06:00"
        day-view-end="22:59"
        day-view-split="30"
        (eventTimesChanged)="timeClicked($event)"
      ></mwl-calendar-day-view>
    </div>
  </mat-tab>
</mat-tab-group>
