h1 {
  text-align: center;
}

table {
  padding-left: 2vw;
}

td {
  text-align: center;
}

h3 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: small;
  color: grey;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.mat-form-field {
  padding-left: 2vw;
  padding-right: 2vw;
  width: 96vw;
}

.mat-fab {
  position: fixed !important;
  right: 2vw;
  bottom: 0vh;
}

.mat-radio-group {
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 96vw;
}

.mat-select {
  padding-left: 2vw;
  padding-right: 2vw;
  width: 96vw;
}

#btnEdit {
  margin-left: 2vw;
  margin-bottom: 2vw;
  float: right;
}
