<div>
  <h1>{{ 'TRANSACTION' | translate }}</h1>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>{{ 'SELLER' | translate }}</mat-label>
      <input
        matInput
        formControlName="name"
        type="text"
        placeholder="{{ 'SELLER' | translate }}"
      />
      <mat-hint *ngIf="!formGroup.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'DESCRIPTION' | translate }}</mat-label>
      <input
        formControlName="name"
        matInput
        type="text"
        placeholder="{{ 'DESCRIPTION' | translate }}"
        [(ngModel)]="transaction.description"
      />
      <mat-hint *ngIf="!formGroup.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'REFERENCE' | translate }}</mat-label>
      <input
        formControlName="reference"
        matInput
        type="text"
        placeholder="{{ 'REFERENCE' | translate }}"
      />
      <mat-hint *ngIf="!formGroup.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'NAME' | translate }}</mat-label>
      <input matInput type="number" placeholder="{{ 'VALUE' | translate }}" />
      <mat-hint *ngIf="!formGroup.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'QUANTITY' | translate }}</mat-label>
      <input
        formControlName="quantity"
        matInput
        type="number"
        placeholder="{{ 'QUANTITY' | translate }}"
      />
      <mat-hint *ngIf="!formGroup.controls.quantity.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'TOTAL' | translate }}</mat-label>
      <input
        formControlName="total"
        matInput
        type="number"
        placeholder="{{ 'TOTAL' | translate }}"
      />
      <mat-hint *ngIf="!formGroup.controls.total.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-select
      id="currency"
      name="currency"
      value="eur"
      placeholder="{{ 'CURRENCY' | translate }}"
    >
      <mat-option value="btc">฿</mat-option>
      <mat-option value="eth">Ξ</mat-option>
      <mat-option value="eur" selected>€</mat-option>
      <mat-option value="gbp">£</mat-option>
      <mat-option value="tok">T</mat-option>
      <mat-option value="usd">$</mat-option>
      <mat-option value="zar">R</mat-option>
    </mat-select>

    <span class="app-action">
      <button
        (click)="save()"
        [disabled]="!formGroup.valid"
        id="btnEdit"
        mat-fab
        name="btnEdit"
        svgIcon="add"
        type="submit"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </span>
  </form>
</div>
