<div>
  <h1>{{ 'TRANSACTION' | translate }}</h1>

  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>{{ 'DESCRIPTION' | translate }}</mat-label>
      <input
        formControlName="name"
        matInput
        type="text"
        placeholder="{{ 'DESCRIPTION' | translate }}"
        [(ngModel)]="transaction.description"
      />
      <mat-hint *ngIf="!formGroup.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'REFERENCE' | translate }}</mat-label>
      <input
        formControlName="reference"
        matInput
        type="text"
        placeholder="{{ 'REFERENCE' | translate }}"
      />
      <mat-hint *ngIf="!formGroup.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'NAME' | translate }}</mat-label>
      <input matInput type="number" placeholder="{{ 'VALUE' | translate }}" />
      <mat-hint *ngIf="!formGroup.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'QUANTITY' | translate }}</mat-label>
      <input
        formControlName="quantity"
        matInput
        type="number"
        placeholder="{{ 'QUANTITY' | translate }}"
      />
      <mat-hint *ngIf="!formGroup.controls.quantity.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'TOTAL' | translate }}</mat-label>
      <input
        formControlName="total"
        matInput
        type="number"
        placeholder="{{ 'TOTAL' | translate }}"
      />
      <mat-hint *ngIf="!formGroup.controls.total.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <currencybox formControlName="currency"> </currencybox>

    <span>
      <button
        (click)="review()"
        id="btnReview"
        mat-fab
        name="btnReview"
        svgIcon="grade"
        type="submit"
      >
        <mat-icon>grade</mat-icon>
      </button>
    </span>

    <span class="app-action">
      <button
        (click)="save()"
        [disabled]="!formGroup.valid"
        id="btnEdit"
        mat-fab
        name="btnEdit"
        svgIcon="add"
        type="submit"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </span>
  </form>
  <table>
    <tr>
      <td>
        <h3>{{ 'BUYER' | translate }}</h3>
        <userbox [userId]="transaction.buyerId" [textVisible]="true"></userbox>
      </td>
      <td>
        <h3>{{ 'SELLER' | translate }}</h3>
        <userbox [userId]="transaction.sellerId" [textVisible]="true"></userbox>
      </td>
    </tr>
  </table>
</div>
