<h1>{{ 'EVENT' | translate }}</h1>
<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <!--Users-->
    <div *ngFor="let user of appointment.users">
      <user-control-component [user]="user" [horizontal]="true">
      </user-control-component>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <mat-nav-list>
      <!--Name-->
      <mat-list-item>
        <a mat-line>{{ 'DESCRIPTION' | translate }} : {{ appointment.name }}</a>
      </mat-list-item>
      <!--Description-->
      <mat-list-item>
        <a mat-line
          >{{ 'DESCRIPTION' | translate }} : {{ appointment.description }}</a
        >
      </mat-list-item>
      <!--Start-->
      <mat-list-item>
        <a mat-line
          >{{ 'START' | translate }} : {{
          getDateTimeString(appointment.startTimeStamp) }}</a
        >
      </mat-list-item>
      <!--End-->
      <mat-list-item *ngIf="isReceipt()">
        <a mat-line
          >{{ 'END' | translate }} : {{
          getDateTimeString(appointment.endTimeStamp) }}</a
        >
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
<!--Daily, Weekly, Monthly-->
<mat-card>
  <mat-card-title>{{ 'REPEAT' | translate }}</mat-card-title>
  <mat-card-content>
    <section>
      <mat-radio-group [(ngModel)]="transaction.period">
        <mat-radio-button value="once" selected
          >{{ 'ONCE' | translate }}</mat-radio-button
        >
        <mat-radio-button value="day"
          >{{ 'DAILY' | translate }}</mat-radio-button
        >
        <mat-radio-button value="week"
          >{{ 'WEEKLY' | translate }}</mat-radio-button
        >
        <mat-radio-button value="month"
          >{{ 'MONTHLY' | translate }}</mat-radio-button
        >
        <mat-radio-button value="year"
          >{{ 'YEARLY' | translate }}</mat-radio-button
        >
      </mat-radio-group>
    </section>
  </mat-card-content>
</mat-card>
