<h1>{{ 'APPOINTMENT' | translate }}</h1>
<div *ngIf="appointment">
  <mat-input-container>
    <input
      matInput
      type="text"
      placeholder="{{ 'NAME' | translate }}"
      [(ngModel)]="appointment.name"
    />
  </mat-input-container>

  <mat-input-container>
    <input
      matInput
      type="text"
      placeholder="{{ 'DESCRIPTION' | translate }}"
      [(ngModel)]="appointment.description"
    />
  </mat-input-container>

  <mat-form-field>
    <mat-label>{{ 'START' | translate }}</mat-label>
    <input
      matInput
      [matDatepicker]="startPicker"
      (change)="onStartTimeStampChange(appointment)"
      [(ngModel)]="startDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="startPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>
  <mat-input-container>
    <input
      matInput
      type="time"
      value="08:00"
      placeholder="{{ 'TIME' | translate }}"
      [(ngModel)]="startTime"
      (change)="onStartTimeStampChange(appointment)"
    />
  </mat-input-container>

  <mat-form-field (change)="onEndTimeStampChange(appointment)">
    <mat-label>{{ 'END' | translate }}</mat-label>
    <input
      matInput
      [matDatepicker]="endPicker"
      (change)="onStartTimeStampChange(appointment)"
      [(ngModel)]="endDate"
    />
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker
      [startAt]="endDate"
      [min]="min"
      [max]="max"
      [(date)]="endDate"
      #endPicker
    ></mat-datepicker>
  </mat-form-field>

  <mat-input-container>
    <input
      matInput
      type="time"
      value="09:00"
      placeholder="{{ 'TIME' | translate }}"
      [(ngModel)]="endTime"
      (change)="onEndTimeStampChange(appointment)"
    />
  </mat-input-container>
  <!--Daily, Weekly, Monthly-->
  <p>{{ 'REPEAT' | translate }}</p>
  <mat-radio-group [(ngModel)]="appointment.type">
    <mat-radio-button value="once" selected
      >{{ 'ONCE' | translate }}</mat-radio-button
    >
    <mat-radio-button value="day">{{ 'DAILY' | translate }}</mat-radio-button>
    <mat-radio-button value="week">{{ 'WEEKLY' | translate }}</mat-radio-button>
    <mat-radio-button value="month"
      >{{ 'MONTHLY' | translate }}</mat-radio-button
    >
    <mat-radio-button value="year">{{ 'YEARLY' | translate }}</mat-radio-button>
  </mat-radio-group>
  <p>
    &nbsp;
    <!--space-->&nbsp;
  </p>
</div>
