<div class="app-component-filler">
    <md-nav-list>
        <h3 md-subheader>{{ 'USER' | translate }}</h3>
        <md-list-item [routerLinkActive]="['active']">
            <a md-line [routerLink]="['/user/passwordchange']">{{ 'PASSWORD_CHANGE' | translate }}</a>
        </md-list-item>
        <md-list-item [routerLinkActive]="['active']">
                <a md-line [routerLink]="['/user/email/change']">{{ 'PASSWORD_CHANGE' | translate }}</a>
            </md-list-item>
        <md-list-item [routerLinkActive]="['active']">
                <md-icon>refresh</md-icon>
            <a md-line (click)="refreshMyUser()">{{ 'REFRESH_USER' | translate }}</a>
        </md-list-item>
        <md-list-item [routerLinkActive]="['active']">
            <a md-line (click)="forgottenActivationEmail()">{{ 'RESEND_ACTIVATE_EMAIL' | translate }}</a>
        </md-list-item>
        <md-list-item>
            <md-checkbox (change)="toggleTrackLocation()" [(ngModel)]="authUser.track"> {{ 'TRACK' | translate }} </md-checkbox>
        </md-list-item>
        <!--md-list-item>
            <md-checkbox (change)="toggleAvailableLocation()" [(ngModel)]="authUser.available"> {{ 'AVAILABLE' | translate }} </md-checkbox>
        </md-list-item-->
        <md-list-item>
            <md-checkbox (change)="toggleNotifyByEmail()" [(ngModel)]="authUser.notify"> {{ 'NOTIFY_BY_EMAIL' | translate }} </md-checkbox>
        </md-list-item>
        <md-list-item>
            <md-icon>delete_forever</md-icon>
            <a md-line (click)="openDeleteMyUserDialog()">{{ 'DELETE_MY_USER_ACCOUNT' | translate }}</a>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>{{ 'LEGAL' | translate }}</h3>
        <md-list-item [routerLinkActive]="['active']">
            <a md-line [routerLink]="['/legal/termsandconditions']">{{ 'LEGAL_TERMS_AND_CONDITIONS' | translate }}</a>
        </md-list-item>
        <md-list-item [routerLinkActive]="['active']">
            <a md-line [routerLink]="['/legal/privacypolicy']">{{ 'LEGAL_PRIVICY_POLICY_AND_DATA_PROTECTION' | translate }}</a>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>{{ 'COMPANY_NAME' | translate }}</h3>
        <md-list-item [routerLinkActive]="['active']">
            <a md-line [routerLink]="['/about']">{{ 'ABOUT' | translate }}</a>
        </md-list-item>
        <md-list-item [routerLinkActive]="['active']">
            <a md-line [routerLink]="['/contactus']">{{ 'CONTACT_US' | translate }}</a>
        </md-list-item>
    </md-nav-list>
</div>