<div class="app-component-filler">
  <mat-nav-list>
    <h3 mat-subheader i18n>User</h3>

    <mat-list-item [routerLinkActive]="['active']">
      <a mat-line [routerLink]="['/user/passwordchange']"
        i18n>Change password</a
      >
    </mat-list-item>

    <mat-list-item [routerLinkActive]="['active']">
      <a mat-line [routerLink]="['/user/email/change']"
        i18n>Change email</a
      >
    </mat-list-item>

    <mat-list-item [routerLinkActive]="['active']">
      <mat-icon>refresh</mat-icon>
      <a mat-line (click)="refreshMyUser()" i18n>Refresh user</a>
    </mat-list-item>

    <mat-list-item [routerLinkActive]="['active']">
      <a mat-line (click)="forgottenActivationEmail()"
        i18n>Resend activation email</a
      >
    </mat-list-item>

    <mat-list-item>
      <mat-slide-toggle (change)="toggleTrack($event)" [(ngModel)]="user.track" i18n>Track</mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
      <mat-slide-toggle
        (change)="toggleNotify($event)"
        [(ngModel)]="user.notify"
     i18n >Notify by email</mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
      <mat-icon>delete_forever</mat-icon>
      <a mat-line (click)="openDeleteMyUserDialog()"
      i18n>Delete user account</a
      >
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3 mat-subheader i18n>Legal</h3>
    <mat-list-item [routerLinkActive]="['active']">
      <mat-icon>text_snippet</mat-icon>
      <a mat-line [routerLink]="['/gdpr']" i18n>Gdpr</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3 mat-subheader i18n>Company Name</h3>

    <mat-list-item [routerLinkActive]="['active']">
      <mat-icon>local_cafe</mat-icon>
      <a mat-line [routerLink]="['/about']" i18n>About</a>
    </mat-list-item>

    <mat-list-item [routerLinkActive]="['active']">
      <mat-icon>email</mat-icon>
      <a mat-line [routerLink]="['/contact']" i18n>Contact us</a>
    </mat-list-item>

    <mat-list-item [routerLinkActive]="['active']">
      <mat-icon>question_answer</mat-icon>
      <a mat-line [routerLink]="['/faq']" i18n>Faq</a>
    </mat-list-item>
  </mat-nav-list>
</div>
