<div (window:resize)="onScreenSizeChange()">
  <h1>{{ 'ARTICLES' | translate }}</h1>
  <h2 *ngIf="showNoResults()" style="margin-left: 2vw;">
    {{ 'SEARCH_NO_RESULTS' | translate }}
  </h2>

  <mat-grid-list cols="{{columns}}" rowHeight="750px" gutterSize="10px">
    <mat-grid-tile *ngFor="let article of articles">
      <mat-card>
        <div *ngIf="article && article.images && article.images.length > 0">
          <img
            mat-card-image
            [src]="sanitizer.bypassSecurityTrustUrl(article.images[0].uri)"
            (click)="gotoArticle(article)"
          />
        </div>
        <div *ngIf="!hasImages(article)">
          <img
            mat-card-image
            src="/images/default.svg"
            (click)="gotoArticle(article)"
          />
        </div>
        <div>{{ article.title }}</div>
        <div>
          <review-control [reviews]="article.reviews"> </review-control>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
