<h1>{{ 'TRANSACTION' | translate }}</h1>
<!--Description-->
<!--md-input-container *ngIf="isBitcoin()">
    <input mdInput type="text" placeholder="{{ 'BITCOIN_ADDRESS' | translate }}" [(ngModel)]="transaction.name" />
</md-input-container>
<md-input-container *ngIf="isEthereum()">
    <input mdInput type="text" placeholder="{{ 'ETHEREUM_ACCOUNT' | translate }}" [(ngModel)]="transaction.name" />
</md-input-container-->
<div *ngIf="transaction">
    <!--UnAuthUser-->
    <md-input-container *ngIf="(transaction.users.length == 1) && (transaction.type == 'DirectTransfer')" >
        <input mdInput type="text" placeholder="{{ 'SELLER_ACCOUNT' | translate }}" (change)="onSellerAccountChange($event)" [(ngModel)]="sellerAccount" />
    </md-input-container>
    <!--Decription-->
    <md-input-container>
        <input mdInput type="text" placeholder="{{ 'DESCRIPTION' | translate }}" [(ngModel)]="transaction.description" />
    </md-input-container>
    <!--Reference-->
    <md-input-container>
        <input mdInput type="text" placeholder="{{ 'REFERENCE' | translate }}" [(ngModel)]="transaction.reference" />
    </md-input-container>
    <!--Value-->
    <md-input-container *ngIf="(!transaction.asset) && (transaction.users.length == 1) && (transaction.type == 'DirectTransfer')">
            <input mdInput type="number" placeholder="{{ 'VALUE' | translate }}" [(ngModel)]="transaction.itemValue" (change)="onQuantityChange($event)"
            />
        </md-input-container>
    <md-input-container *ngIf="(transaction.asset) && (transaction.users.length > 1)">
        <input mdInput type="number" placeholder="{{ 'VALUE' | translate }}" [(ngModel)]="transaction.itemValue" (change)="onQuantityChange($event)"
        readonly />
    </md-input-container>
    <!--Quantity-->
    <md-input-container *ngIf="(!transaction.asset) && (transaction.users.length == 1) && (transaction.type == 'DirectTransfer')">
            <input mdInput type="number" placeholder="{{ 'QUANTITY' | translate }}" [(ngModel)]="transaction.quantity" (change)="onQuantityChange($event)"
            readonly />
        </md-input-container>
    <md-input-container *ngIf="(transaction.asset) && (transaction.quantity <= transaction.asset.quantity) && (transaction.users.length > 1)">
        <input mdInput type="number" placeholder="{{ 'QUANTITY' | translate }}" [(ngModel)]="transaction.quantity" (change)="onQuantityChange($event)"
         />
    </md-input-container>
    <!--Total-->
    <md-input-container >
        <input mdInput type="number" placeholder="{{ 'TOTAL' | translate }}" [(ngModel)]="transaction.totalValue" readonly/>
    </md-input-container>
    <!--Currency-->
    <md-select id="currency" name="currency" value="eur" placeholder="{{ 'CURRENCY' | translate }}" [(ngModel)]="transaction.currency">
        <md-option  value="btc">฿</md-option>
        <md-option  value="eth">Ξ</md-option>
        <md-option value="eur" selected>€</md-option>
        <md-option value="gbp">£</md-option>
        <md-option value="tok">T</md-option>
        <md-option value="usd">$</md-option>
        <md-option value="zar">R</md-option>
    </md-select>
    </div>