<h1>{{ 'TRANSACTION' | translate }}</h1>
<!--Description-->
<!--mat-input-container *ngIf="isBitcoin()">
    <input matInput type="text" placeholder="{{ 'BITCOIN_ADDRESS' | translate }}" [(ngModel)]="transaction.name" />
</mat-input-container>
<mat-input-container *ngIf="isEthereum()">
    <input matInput type="text" placeholder="{{ 'ETHEREUM_ACCOUNT' | translate }}" [(ngModel)]="transaction.name" />
</mat-input-container-->
<div *ngIf="transaction">
  <!--UnAuthUser-->
  <mat-input-container
    *ngIf="(transaction.users.length == 1) && (transaction.type == 'DirectTransfer')"
  >
    <input
      matInput
      type="text"
      placeholder="{{ 'SELLER_ACCOUNT' | translate }}"
      (change)="onSellerAccountChange($event)"
      [(ngModel)]="sellerAccount"
    />
  </mat-input-container>
  <!--Decription-->
  <mat-input-container>
    <input
      matInput
      type="text"
      placeholder="{{ 'DESCRIPTION' | translate }}"
      [(ngModel)]="transaction.description"
    />
  </mat-input-container>
  <!--Reference-->
  <mat-input-container>
    <input
      matInput
      type="text"
      placeholder="{{ 'REFERENCE' | translate }}"
      [(ngModel)]="transaction.reference"
    />
  </mat-input-container>
  <!--Value-->
  <mat-input-container
    *ngIf="(!transaction.asset) && (transaction.users.length == 1) && (transaction.type == 'DirectTransfer')"
  >
    <input
      matInput
      type="number"
      placeholder="{{ 'VALUE' | translate }}"
      [(ngModel)]="transaction.itemValue"
      (change)="onQuantityChange($event)"
    />
  </mat-input-container>
  <mat-input-container
    *ngIf="(transaction.asset) && (transaction.users.length > 1)"
  >
    <input
      matInput
      type="number"
      placeholder="{{ 'VALUE' | translate }}"
      [(ngModel)]="transaction.itemValue"
      (change)="onQuantityChange($event)"
      readonly
    />
  </mat-input-container>
  <!--Quantity-->
  <mat-input-container
    *ngIf="(!transaction.asset) && (transaction.users.length == 1) && (transaction.type == 'DirectTransfer')"
  >
    <input
      matInput
      type="number"
      placeholder="{{ 'QUANTITY' | translate }}"
      [(ngModel)]="transaction.quantity"
      (change)="onQuantityChange($event)"
      readonly
    />
  </mat-input-container>
  <mat-input-container
    *ngIf="(transaction.asset) && (transaction.quantity <= transaction.asset.quantity) && (transaction.users.length > 1)"
  >
    <input
      matInput
      type="number"
      placeholder="{{ 'QUANTITY' | translate }}"
      [(ngModel)]="transaction.quantity"
      (change)="onQuantityChange($event)"
    />
  </mat-input-container>
  <!--Total-->
  <mat-input-container>
    <input
      matInput
      type="number"
      placeholder="{{ 'TOTAL' | translate }}"
      [(ngModel)]="transaction.totalValue"
      readonly
    />
  </mat-input-container>
  <!--Currency-->
  <mat-select
    id="currency"
    name="currency"
    value="eur"
    placeholder="{{ 'CURRENCY' | translate }}"
    [(ngModel)]="transaction.currency"
  >
    <mat-option value="btc">฿</mat-option>
    <mat-option value="eth">Ξ</mat-option>
    <mat-option value="eur" selected>€</mat-option>
    <mat-option value="gbp">£</mat-option>
    <mat-option value="tok">T</mat-option>
    <mat-option value="usd">$</mat-option>
    <mat-option value="zar">R</mat-option>
  </mat-select>
</div>
