<div>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label i18n>Range</mat-label>
      <mat-date-range-input [formGroup]="formGroup" [rangePicker]="dateRangePicker" [comparisonStart]="search.start"
        [comparisonEnd]="search.end">
        <input matStartDate placeholder="Start" formControlName="start" />
        <input matEndDate placeholder="End" formControlName="end" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Reference</mat-label>
      <input matInput type="text" formControlName="reference" placeholder="Reference" />
    </mat-form-field>

    <button (click)="find()" [disabled]="!formGroup.valid" mat-fab svgIcon="search" type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  @if(busy == true) {
  <div alien="centre">
    <mat-progress-spinner mode="indeterminate" color="accent" style="margin: 0 auto"></mat-progress-spinner>
  </div>
  }
</div>