<div class="tagbox">
  <mat-form-field>
    <mat-label>{{ 'TAGS' | translate }}</mat-label>
    <mat-chip-list #tagList aria-label="{{ 'TAGS' | translate }}">
      <mat-chip
        *ngFor="let tag of selectedTags"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)"
        [value]="tag.id"
      >
        {{ getTagText(tag) }}
        <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        #tagInput
        placeholder="{{ 'TAGS' | translate }}"
        [matAutocomplete]="auto"
        [formControl]="tagControl"
        [matChipInputFor]="tagList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="proactive"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{ getTagText(tag) }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
