<div class="tagbox">
  <mat-form-field>
    <mat-label>{{ 'TAGS' | translate }}</mat-label>
    <mat-chip-list #tagListElement aria-label="{{ 'TAGS' | translate }}">
      <mat-chip
        *ngFor="let tag of chosenTags"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)"
        [value]="tag.id"
      >
        {{ getTagText(tag) }}
        <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        #tagInputElement
        placeholder="{{ 'TAGS' | translate }}"
        [matAutocomplete]="auto"
        [formControl]="tagInputControl"
        [matChipInputFor]="tagListElement"
        [matChipInputAddOnBlur]="true"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{ getTagText(tag) }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
