mat-form-field {
  width: 100%;
}

mat-chip-remove-button {
  font-size: 1rem !important;
  height: 1rem !important;
  width: 1rem !important;
  padding-bottom: 15px !important;
}

.mat-mdc-standard-chip {
  --mat-chip-elevated-container-color: #f6d488;
  --mat-chip-label-text-color: sienna;
  --mat-chip-disabled-label-text-color: white;
  --mat-chip-with-icon-icon-color: white;
  --mat-chip-with-icon-disabled-icon-color: white;
  --mat-chip-with-trailing-icon-disabled-trailing-icon-color: white;
  --mat-chip-with-trailing-icon-trailing-icon-color: white;
  --mat-chip-with-icon-selected-icon-color: white;
}
