<h1>{{ 'SEARCH_MEMBERS' | translate }}</h1>
<div>
  <form [formGroup]="formGroup">
    @if(isAliasVisible()) {
    <mat-form-field>
      <mat-label i18>Alias</mat-label>
      <input matInput id="alias" name="alias" type="text" formControlName="alias" placeholder="Alias"
        [(ngModel)]="search.alias" />
      @if(!formGroup.controls.alias.valid) {
      <mat-hint align="end" i18>Required</mat-hint>}
    </mat-form-field>
    }

    @if(isNameVisible()) {
    <mat-form-field>
      <mat-label i18>Name</mat-label>

      <input matInput id="name" name="name" type="text" formControlName="name" placeholder="Name"
        [(ngModel)]="search.name" />
      @if(!formGroup.controls.name.valid) {
      <mat-hint align="end" i18>Required</mat-hint>
      }
    </mat-form-field>
    }

    @if(searching == true) {
    <div alien="centre">
      <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
    }

    <span class="app-action">
      <button (click)="find()" [disabled]="!formGroup.valid" id="btnSearch" mat-fab name="btnSearch" svgIcon="search"
        type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </span>
  </form>
</div>