<!--No form due to need for real time changes to address field-->
<h1 style="margin-left: 1% !important;">{{ 'SEARCH_PRODUCTS' | translate }}</h1>
<div class="app-search-form">
	<div id="frmQuery">
		<!--Range-->
		<md-slider min="1" max="25" step="1" [(ngModel)]="search.radius">
		</md-slider>
		<b>{{search.radius}} km</b>
		<!--Tags-->
		<tag-control-component (tagUpdated)="handleTagUpdated($event)" [selectedTags]="search.tags" [readOnly]="false"></tag-control-component>
		<!--Min-->
		<md-input-container class="full-width">
			<input mdInput id="min" name="min" type="number" style="width:48vw!Important" placeholder="{{ 'MIN' | translate }}" min="0"
			 max="5000" [(ngModel)]="search.min" />
		</md-input-container>
		<!--Max-->
		<md-input-container class="full-width">
			<input mdInput id="max" name="max" type="number" style="width:48vw!Important" placeholder="{{ 'MAX' | translate }}" min="0"
			 max="5000" [(ngModel)]="search.max" />
		</md-input-container>
		<!--currency-->
		<md-select id="currency" name="currency" value="eur" placeholder="{{ 'CURRENCY' | translate }}" [(ngModel)]="search.currency">
			<md-option *ngIf="hasBitcoin()" value="btc">฿</md-option>
			<md-option *ngIf="hasEthereum()" value="eth">Ξ</md-option>
			<md-option value="gbp">£</md-option>
			<md-option value="eur" selected>€</md-option>
			<md-option value="usd">$</md-option>
			<md-option value="zar">R</md-option>
		</md-select>
		<!--Address-->
		<address-control-component class="full-width" [required]="true" [positionButton]="true" (updateAddress)="onUpdateAddress($event)"
		 (updatePosition)="onUpdatePosition($event)">
		</address-control-component>
		<!--Search button-->

		<!--button md-fab id="btnSearch" name="btnSearch" type="submit" (click)="findAssets()"><md-icon>search</md-icon></button-->
		<!--Progress bar-->
		<div *ngIf="(searching == true)" alien="centre">
			<md-progress-spinner mode="indeterminate" color="accent" style="margin:0 auto;"></md-progress-spinner>
		</div>
	</div>
</div>