<h1 style="margin-left: 1% !important;">{{ 'SEARCH_MEMBERS' | translate }}</h1>
<div class="app-search-form">
	<form [formGroup]="form" novalidate (submit)="findUsers()">
		<!--Alias-->
		<md-input-container *ngIf="isAliasVisible()">
			<input mdInput id="alias" name="alias" type="text" formControlName="alias" placeholder="{{ 'ALIAS' | translate }}" [(ngModel)]="search.alias"
			/>
			<md-hint *ngIf="!form.controls.alias.valid" align="end">
				{{ 'ERROR_FIELD_REQUIRED' | translate }}
			</md-hint>
		</md-input-container>
		<!--Name-->
		<md-input-container *ngIf="isNameVisible()">
			<input mdInput id="name" name="name" type="text" formControlName="name" placeholder="{{ 'NAME' | translate }}" [(ngModel)]="search.name"
			/>
			<md-hint *ngIf="!form.controls.name.valid" align="end">
				{{ 'ERROR_FIELD_REQUIRED' | translate }}
			</md-hint>
		</md-input-container>
		<!--Progress bar-->
		<div *ngIf="(searching == true)" alien="centre">
			<md-progress-spinner mode="indeterminate" color="accent" style="margin:0 auto;"></md-progress-spinner>
		</div>
	</form>
</div>