<h1>{{ 'SEARCH_MEMBERS' | translate }}</h1>
<div>
  <form [formGroup]="formGroup">
    <mat-form-field *ngIf="isAliasVisible()">
      <mat-label>{{ 'ALIAS' | translate }}</mat-label>
      <input
        matInput
        id="alias"
        name="alias"
        type="text"
        formControlName="alias"
        placeholder="{{ 'ALIAS' | translate }}"
        [(ngModel)]="search.alias"
      />
      <mat-hint *ngIf="!formGroup.controls.alias.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="isNameVisible()">
      <mat-label>{{ 'NAME' | translate }}</mat-label>

      <input
        matInput
        id="name"
        name="name"
        type="text"
        formControlName="name"
        placeholder="{{ 'NAME' | translate }}"
        [(ngModel)]="search.name"
      />
      <mat-hint *ngIf="!formGroup.controls.name.valid" align="end">
        {{ 'ERROR_FIELD_REQUIRED' | translate }}
      </mat-hint>
    </mat-form-field>

    <div *ngIf="(searching == true)" alien="centre">
      <mat-progress-spinner
        mode="indeterminate"
        color="accent"
      ></mat-progress-spinner>
    </div>

    <span class="app-action">
      <button
        (click)="find()"
        [disabled]="!formGroup.valid"
        id="btnSearch"
        mat-fab
        name="btnSearch"
        svgIcon="search"
        type="submit"
      >
        <mat-icon>search</mat-icon>
      </button>
    </span>
  </form>
</div>
