<div (window:resize)="onScreenSizeChange()">
  <h1>
    <div *ngIf="!showNoResults()">
      {{ 'EVENTS' | translate }}
    </div>
    <div *ngIf="showNoResults()">
      {{ 'EVENTS' | translate }}
      <p>{{ 'SEARCH_NO_RESULTS' | translate }}</p>
    </div>
  </h1>

  <mat-grid-list cols="{{columns}}" rowHeight="400px" gutterSize="10px">
    <mat-grid-tile *ngFor="let appointment of appointments">
      <mat-card>
        <mat-card-content>
          <div *ngFor="let user of appointment.users">
            <user-control-component
              [user]="getBuyer(appointment)"
              [horizontal]="false"
            >
            </user-control-component>
          </div>
          <p>{{ 'NAME' | translate }} : {{ appointment.name }}</p>

          <p>
            {{ 'START' | translate }} : {{ appointment.startTimeStamp |
            epochtodate }}
          </p>
          <p>
            {{ 'END' | translate }} : {{ appointment.endTimeStamp | epochtodate
            }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            (click)="gotoEventUpdate(appointment)"
            style="float: right; width: 100%;"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
