<h1>{{ 'WALLET' | translate }}</h1>
<div *ngIf="hasTransactions()">
  <mat-card *ngIf="ethereumWallet && ethereum">
    <mat-card-title></mat-card-title>
    <mat-card-content>
      <div>
        <qr-code [value]="wallet.account" [size]="150"></qr-code>
      </div>
      <table width="100%" cellspacing="0">
        <tr>
          <td>
            <h6>{{ wallet.balance }} }}</h6>
          </td>
          <td>
            <h6 style="text-transform: uppercase;">{{ wallet.currency }}</h6>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
