<div class="app-component-filler">
	<h1>{{ 'MESSAGES' | translate }}</h1>
	<h2 *ngIf="!hasMessages()" style="margin-left: 2vw;">
		{{ 'NO_MESSAGES' | translate }}
	</h2>
	<!--List of user messages-->
	<div id="divMessages" name="divMessages" style="height:70vh!Important; overflow-y: scroll!Important;" #messageList>
		<md-nav-list>
			<md-list-item *ngFor="let message of filterConversationMessages(messages)">
				<!---contact messages - left-->
				<img *ngIf="!isMyMessage(message)" md-list-avatar [src]="sanitizer.bypassSecurityTrustUrl(getSenderAvatar(message))" />
				<div *ngIf="!isMyMessage(message)" md-line> {{ message.text }} </div>
				<!---my messages - right-->
				<img *ngIf="isMyMessage(message)" md-list-avatar style="text-align:end!Important; margin-left:8px!Important" [src]="sanitizer.bypassSecurityTrustUrl(getSenderAvatar(message))"
				/>
				<div *ngIf="isMyMessage(message)" md-line style="text-align:end!Important"> {{ message.text }} </div>
			</md-list-item>
		</md-nav-list>
	</div>
	<!--Message Buttons-->
	<table>
		<tr>
			<td>
				<md-input-container>
					<input mdInput id="txtMessage" name="txtMessage" type="text" style="width:350px!Important" placeholder="{{ 'MESSAGE' | translate }}"
					 [(ngModel)]="message.text" #messageElement />
				</md-input-container>
			</td>
			<td>
				<button md-mini-fab type="button" (click)="create()">
					<md-icon>email</md-icon>
				</button>
			</td>
		</tr>
	</table>
</div>