h1 {
  text-align: center;
}

.mat-nav-list {
  height: 70vh;
  overflow-y: auto;
  width: 96vw;
}

.left {
  background-color: gainsboro;
  position: absolute;
  left: 1vw;
}

.right {
  background-color: lightgreen;
  position: absolute;
  right: 1vw;
}
