<div>
  <userbox [userId]="message.receiver.id" [textVisible]="true"></userbox>
  <mat-nav-list>
    <mat-list-item *ngFor="let message of filterConversation()">
      <!---contact messages - left-->

      <button mat-raised-button *ngIf="!isMyMessage(message)">
        {{ message.name }}
      </button>
      <!---my messages - right-->

      <button mat-raised-button *ngIf="isMyMessage(message)" class="right">
        {{ message.name }}
      </button>
    </mat-list-item>
  </mat-nav-list>

  <message-create (messageSent)="onMessageSent($event)"></message-create>
</div>
