<div>
  <h1>{{ 'MESSAGES' | translate }}</h1>
  <mat-nav-list>
    <mat-list-item *ngFor="let message of filterConversationMessages(messages)">
      <!---contact messages - left-->
      <img
        *ngIf="!isMyMessage(message)"
        mat-list-avatar
        [src]="sanitizer.bypassSecurityTrustUrl(getSenderAvatar(message))"
      />
      <div *ngIf="!isMyMessage(message)" mat-line>{{ message.text }}</div>
      <!---my messages - right-->
      <img
        *ngIf="isMyMessage(message)"
        mat-list-avatar
        style="text-align: end !important; margin-left: 8px !important;"
        [src]="sanitizer.bypassSecurityTrustUrl(getSenderAvatar(message))"
      />
      <div
        *ngIf="isMyMessage(message)"
        mat-line
        style="text-align: end !important;"
      >
        {{ message.text }}
      </div>
    </mat-list-item>
  </mat-nav-list>

  <message-create></message-create>

  <!--table>
    <tr>
      <td>
        <mat-input-container>
          <input
            matInput
            id="txtMessage"
            name="txtMessage"
            type="text"
            style="width: 350px !important;"
            placeholder="{{ 'MESSAGE' | translate }}"
            [(ngModel)]="message.description"
            #messageElement
          />
        </mat-input-container>
      </td>
      <td>
        <button mat-mini-fab type="button" (click)="create()">
          <mat-icon>email</mat-icon>
        </button>
      </td>
    </tr>
  </table-->
</div>
