h1 {
  text-align: center;
}

.mat-nav-list {
  height: 70vh;
  overflow-y: auto;
  width: 96vw;
}

.left {
  text-align: end !important;
  margin-left: 8px !important;
}

.right {
  text-align: end !important;
}
