<table class="full-width" cellspacing="0">
        <tr>
            <td>
                <!--ngx-zxing [start]="cameraActive" [device]="camera" [cssClass]="small-video" (onCamsFound)="handleCameraConnection($event)"
                    (onScan)="handleQrCodeResult($event)"></ngx-zxing-->
                    <zxing-scanner [formats]="allowedFormats" (onCamsFound)="handleCameraConnection($event)"  (onScan)="handleQrCodeResult($event)"></zxing-scanner>
            </td>
            <td>
                <span *ngIf="isEmpty() && !complete">
                    <img src="/images/ic_clear_black_24px.svg" class="app-images" />
                </span>
                <span *ngIf="!isEmpty() && !complete">
                    <img src="/images/ic_done_black_24px.svg" class="app-images" />
                </span>
                <span *ngIf="complete">
                    <img src="/images/ic_done_all_black_24px.svg" class="app-images" />
                </span>

            </td>
        </tr>
    </table>