<div id="gdpr" name="gdpr">
  <textarea
    matInput
    id="txtGdprContent"
    name="txtGdprContent"
    type="text"
    formControlName="text"
    rows="15"
    readonly="true"
    value="{{ content }}"
  ></textarea>
</div>
<br />
<div>
  <mat-radio-group
    *ngIf="!isReadOnly()"
    (change)="onChange($event)"
    id="radGdprChoice"
    name="radGdprChoice"
  >
    <mat-radio-button value="agree">{{ 'AGREE' | translate }}</mat-radio-button>
    <mat-radio-button value="disagree" selected
      >{{ 'DISAGREE' | translate }}</mat-radio-button
    >
  </mat-radio-group>
</div>
