<div id="gdpr" name="gdpr">
  <textarea
    matInput
    id="txtContent"
    name="txtContent"
    type="text"
    formControlName="text"
    rows="5"
    readonly="true"
    value="{{ content }}"
  ></textarea>
  <div>
    <mat-radio-group
      *ngIf="!isReadOnly()"
      (change)="onChange($event)"
      id="radContent"
      name="radContent"
    >
      <mat-radio-button value="agree"
        >{{ 'AGREE' | translate }}</mat-radio-button
      >
      <mat-radio-button value="disagree" selected
        >{{ 'DISAGREE' | translate }}</mat-radio-button
      >
    </mat-radio-group>
  </div>
</div>
