<!--Images-->
<h1 *ngIf="showAlias() && !showName()">{{ authUser.alias }}</h1>
<h1 *ngIf="showName()">{{ authUser.name }}</h1>
<mat-card>
  <mat-card-title>{{ 'IMAGES' | translate }}</mat-card-title>
  <mat-card-content>
    <img
      *ngIf="authUser.avatar && authUser.avatar.length > 0"
      [src]="authUser.avatar"
      (click)="openImageDialog(0)"
      class="app-images"
    />
    <img
      *ngIf="!authUser.avatar || authUser.avatar.length == 0"
      src="/images/default.svg"
      (click)="openImageDialog(0)"
      class="app-images"
    />
  </mat-card-content>
</mat-card>
<!--form-->
<mat-card>
  <mat-card-title>{{ 'USER' | translate }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" novalidate (submit)="update()">
      <!--Alias and Email not editable because of unique-->
      <!--Name-->
      <mat-input-container>
        <input
          matInput
          id="name"
          name="name"
          type="text"
          formControlName="name"
          placeholder="{{ 'NAME' | translate }}"
          [(ngModel)]="authUser.name"
        />
        <mat-hint *ngIf="!form.controls.name.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-input-container>
      <!--Description-->
      <mat-input-container class="input">
        <input
          matInput
          id="description"
          name="description"
          type="text"
          formControlName="description"
          placeholder="{{ 'DESCRIPTION' | translate }}"
          [(ngModel)]="authUser.description"
        />
      </mat-input-container>
      <!--Education-->
      <mat-input-container>
        <input
          matInput
          type="text"
          formControlName="education"
          placeholder="{{ 'EDUCATION' | translate }}"
          [(ngModel)]="authUser.education"
        />
        <mat-hint *ngIf="!form.controls.description.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-input-container>
      <!--Address-->
      <address-control-component
        class="full-width"
        (updateAddress)="handleAddressUpdate($event)"
        (updatePosition)="handlePositionUpdate($event)"
        formControlName="address"
        [required]="true"
        [location]="authUser.location"
      >
      </address-control-component>
      <!--Mobile-->
      <mat-input-container>
        <input
          matInput
          id="mobile"
          name="mobile"
          type="text"
          formControlName="mobile"
          placeholder="{{ 'MOBILE' | translate }}"
          [(ngModel)]="authUser.mobile"
        />
        <mat-hint *ngIf="!form.controls.mobile.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-input-container>
      <!--currency-->
      <mat-select
        id="currency"
        name="currency"
        formControlName="currency"
        value="eur"
        placeholder="{{ 'CURRENCY' | translate }}"
        [(ngModel)]="authUser.currency"
      >
        <mat-option value="btc">฿</mat-option>
        <mat-option value="eth">Ξ</mat-option>
        <mat-option value="eur" selected>€</mat-option>
        <mat-option value="usd">$</mat-option>
        <mat-option value="gbp">£</mat-option>
        <mat-option value="zar">R</mat-option>
        <mat-hint *ngIf="!form.controls.currency.valid" align="end">
          {{ 'ERROR_FIELD_REQUIRED' | translate }}
        </mat-hint>
      </mat-select>
      <!--Tags-->
      <!--tag-control-component (tagUpdated)="handleTagUpdate($event)" [selectedTags]="authUser.tags" [readOnly]="false"></tag-control-component-->
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!authUser.gdpr">
  <mat-card-subtitle
    >{{ 'LEGAL_TERMS_AND_CONDITIONS' | translate }}
  </mat-card-subtitle>
  <mat-card-content>
    <gdpr-component
      [(consent)]="authUser.gdpr"
      [readOnly]="false"
      (updateGdpr)="handleGdprUpdate($event)"
    >
    </gdpr-component>
  </mat-card-content>
</mat-card>
<!--Fees-->
<!--mat-card>
	<mat-card-subtitle>{{ 'FEES' | translate }} </mat-card-subtitle>
	<mat-card-content>
		<fee-control-component [createFee]=true [updateFee]=true [deleteFee]=true [once]=false [hour]=true [day]=true [week]=true
		 [month]=true (feeCreateEvent)="handleFeeCreateEvent($event)" (feeUpdateEvent)="handleFeeUpdateEvent($event)" (feeDeleteEvent)="handleFeeDeleteEvent($event)"
		 [fees]="authUser.fees"></fee-control-component>
	</mat-card-content>
</mat-card-->
<!--Advert-->
<!--mat-card>
	<mat-card-subtitle>{{ 'ADVERT' | translate }} </mat-card-subtitle>
	<mat-card-content>
		<advert-control-component [wallet]="tokoWallet" (updateAdvert)="handleAdvertUpdate($event)"></advert-control-component>
	</mat-card-content>
</mat-card-->
